skbot/ignition/sdformat/schema/1.8/material.xsd

<xs:schema xmlns:types="sdformat/v1.8/types.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="sdformat/v1.8/material.xsd" version="1.1">
  <xs:import namespace="sdformat/v1.8/types.xsd" schemaLocation="./types.xsd"/>
  <xs:complexType name="material">
    <xs:annotation>
      <xs:documentation xml:lang="en">The material of the visual element.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="script" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Name of material from an installed script file. This will override the color element if the script exists.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:annotation>
            <xs:documentation xml:lang="en">Name of material from an installed script file. This will override the color element if the script exists.</xs:documentation>
          </xs:annotation>
          <xs:all>
            <xs:element name="uri" minOccurs="1" maxOccurs="unbounded" default="__default__" type="xs:string">
              <xs:annotation>
                <xs:documentation xml:lang="en">URI of the material script file</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="name" minOccurs="1" maxOccurs="1" default="__default__" type="xs:string">
              <xs:annotation>
                <xs:documentation xml:lang="en">Name of the script within the script file</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:all>
        </xs:complexType>
      </xs:element>
      <xs:element name="shader" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:all>
            <xs:element name="normal_map" minOccurs="1" maxOccurs="1" default="__default__" type="xs:string">
              <xs:annotation>
                <xs:documentation xml:lang="en">filename of the normal map</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:all>
          <xs:attribute name="type" type="xs:string" use="required">
            <xs:annotation>
              <xs:documentation xml:lang="en">vertex, pixel, normal_map_object_space, normal_map_tangent_space</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="render_order" minOccurs="1" maxOccurs="1" default="0.0" type="xs:float">
        <xs:annotation>
          <xs:documentation xml:lang="en">Set render order for coplanar polygons. The higher value will be rendered on top of the other coplanar polygons</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="lighting" minOccurs="1" maxOccurs="1" default="true" type="xs:boolean">
        <xs:annotation>
          <xs:documentation xml:lang="en">If false, dynamic lighting will be disabled</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ambient" minOccurs="1" maxOccurs="1" default="0 0 0 1" type="types:color">
        <xs:annotation>
          <xs:documentation xml:lang="en">The ambient color of a material specified by set of four numbers representing red/green/blue, each in the range of [0,1].</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="diffuse" minOccurs="1" maxOccurs="1" default="0 0 0 1" type="types:color">
        <xs:annotation>
          <xs:documentation xml:lang="en">The diffuse color of a material specified by set of four numbers representing red/green/blue/alpha, each in the range of [0,1].</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="specular" minOccurs="1" maxOccurs="1" default="0 0 0 1" type="types:color">
        <xs:annotation>
          <xs:documentation xml:lang="en">The specular color of a material specified by set of four numbers representing red/green/blue/alpha, each in the range of [0,1].</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="emissive" minOccurs="1" maxOccurs="1" default="0 0 0 1" type="types:color">
        <xs:annotation>
          <xs:documentation xml:lang="en">The emissive color of a material specified by set of four numbers representing red/green/blue, each in the range of [0,1].</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="double_sided" minOccurs="1" maxOccurs="1" default="false" type="xs:boolean">
        <xs:annotation>
          <xs:documentation xml:lang="en">If true, the mesh that this material is applied to will be rendered as double sided</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="pbr" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Physically Based Rendering (PBR) material. There are two PBR workflows: metal and specular. While both workflows and their parameters can be specified at the same time, typically only one of them will be used (depending on the underlying renderer capability). It is also recommended to use the same workflow for all materials in the world.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:annotation>
            <xs:documentation xml:lang="en">Physically Based Rendering (PBR) material. There are two PBR workflows: metal and specular. While both workflows and their parameters can be specified at the same time, typically only one of them will be used (depending on the underlying renderer capability). It is also recommended to use the same workflow for all materials in the world.</xs:documentation>
          </xs:annotation>
          <xs:all>
            <xs:element name="metal" minOccurs="0" maxOccurs="1">
              <xs:annotation>
                <xs:documentation xml:lang="en">PBR using the Metallic/Roughness workflow.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:annotation>
                  <xs:documentation xml:lang="en">PBR using the Metallic/Roughness workflow.</xs:documentation>
                </xs:annotation>
                <xs:all>
                  <xs:element name="albedo_map" minOccurs="0" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">Filename of the diffuse/albedo map.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="roughness_map" minOccurs="0" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">Filename of the roughness map.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="roughness" minOccurs="1" maxOccurs="1" default="0.5" type="xs:string">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">Material roughness in the range of [0,1], where 0 represents a smooth surface and 1 represents a rough surface. This is the inverse of a specular map in a PBR specular workflow.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="metalness_map" minOccurs="0" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">Filename of the metalness map.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="metalness" minOccurs="1" maxOccurs="1" default="0.5" type="xs:string">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">Material metalness in the range of [0,1], where 0 represents non-metal and 1 represents raw metal</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="environment_map" minOccurs="0" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">Filename of the environment / reflection map, typically in the form of a cubemap</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="ambient_occlusion_map" minOccurs="0" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">Filename of the ambient occlusion map. The map defines the amount of ambient lighting on the surface.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="normal_map" minOccurs="0" maxOccurs="1">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">Filename of the normal map. The normals can be in the object space or tangent space as specified in the 'type' attribute</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:simpleContent>
                        <xs:extension base="xs:string">
                          <xs:attribute name="type" type="xs:string" use="optional" default="tangent">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">The space that the normals are in. Values are: 'object' or 'tangent'</xs:documentation>
                            </xs:annotation>
                          </xs:attribute>
                        </xs:extension>
                      </xs:simpleContent>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="emissive_map" minOccurs="0" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">Filename of the emissive map.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="light_map" minOccurs="0" maxOccurs="1">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">Filename of the light map. The light map is a prebaked light texture that is applied over the albedo map</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:simpleContent>
                        <xs:extension base="xs:string">
                          <xs:attribute name="uv_set" type="xs:unsignedInt" use="optional" default="0">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">Index of the texture coordinate set to use.</xs:documentation>
                            </xs:annotation>
                          </xs:attribute>
                        </xs:extension>
                      </xs:simpleContent>
                    </xs:complexType>
                  </xs:element>
                </xs:all>
              </xs:complexType>
            </xs:element>
            <xs:element name="specular" minOccurs="0" maxOccurs="1">
              <xs:annotation>
                <xs:documentation xml:lang="en">PBR using the Specular/Glossiness workflow.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:annotation>
                  <xs:documentation xml:lang="en">PBR using the Specular/Glossiness workflow.</xs:documentation>
                </xs:annotation>
                <xs:all>
                  <xs:element name="albedo_map" minOccurs="0" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">Filename of the diffuse/albedo map.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="specular_map" minOccurs="0" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">Filename of the specular map.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="glossiness_map" minOccurs="0" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">Filename of the glossiness map.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="glossiness" minOccurs="1" maxOccurs="1" default="0" type="xs:string">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">Material glossiness in the range of [0-1], where 0 represents a rough surface and 1 represents a smooth surface. This is the inverse of a roughness map in a PBR metal workflow.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="environment_map" minOccurs="0" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">Filename of the environment / reflection map, typically in the form of a cubemap</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="ambient_occlusion_map" minOccurs="0" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">Filename of the ambient occlusion map. The map defines the amount of ambient lighting on the surface.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="normal_map" minOccurs="0" maxOccurs="1">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">Filename of the normal map. The normals can be in the object space or tangent space as specified in the 'type' attribute</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:simpleContent>
                        <xs:extension base="xs:string">
                          <xs:attribute name="type" type="xs:string" use="optional" default="tangent">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">The space that the normals are in. Values are: 'object' or 'tangent'</xs:documentation>
                            </xs:annotation>
                          </xs:attribute>
                        </xs:extension>
                      </xs:simpleContent>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="emissive_map" minOccurs="0" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">Filename of the emissive map.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="light_map" minOccurs="0" maxOccurs="1">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">Filename of the light map. The light map is a prebaked light texture that is applied over the albedo map</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:simpleContent>
                        <xs:extension base="xs:string">
                          <xs:attribute name="uv_set" type="xs:unsignedInt" use="optional" default="0">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">Index of the texture coordinate set to use.</xs:documentation>
                            </xs:annotation>
                          </xs:attribute>
                        </xs:extension>
                      </xs:simpleContent>
                    </xs:complexType>
                  </xs:element>
                </xs:all>
              </xs:complexType>
            </xs:element>
          </xs:all>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>
</xs:schema>
