skbot/ignition/sdformat/schema/1.8/world.xsd

<xs:schema xmlns:types="sdformat/v1.8/types.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:scene="sdformat/v1.8/scene.xsd" xmlns:state="sdformat/v1.8/state.xsd" xmlns:physics="sdformat/v1.8/physics.xsd" xmlns:light="sdformat/v1.8/light.xsd" xmlns:actor="sdformat/v1.8/actor.xsd" xmlns:model="sdformat/v1.8/model.xsd" xmlns:material="sdformat/v1.8/material.xsd" targetNamespace="sdformat/v1.8/world.xsd" version="1.1">
  <xs:import namespace="sdformat/v1.8/material.xsd" schemaLocation="./material.xsd"/>
  <xs:import namespace="sdformat/v1.8/model.xsd" schemaLocation="./model.xsd"/>
  <xs:import namespace="sdformat/v1.8/actor.xsd" schemaLocation="./actor.xsd"/>
  <xs:import namespace="sdformat/v1.8/light.xsd" schemaLocation="./light.xsd"/>
  <xs:import namespace="sdformat/v1.8/physics.xsd" schemaLocation="./physics.xsd"/>
  <xs:import namespace="sdformat/v1.8/state.xsd" schemaLocation="./state.xsd"/>
  <xs:import namespace="sdformat/v1.8/scene.xsd" schemaLocation="./scene.xsd"/>
  <xs:import namespace="sdformat/v1.8/types.xsd" schemaLocation="./types.xsd"/>
  <xs:complexType name="world">
    <xs:annotation>
      <xs:documentation xml:lang="en">The world element encapsulates an entire world description including: models, scene, physics, and plugins.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="audio" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Global audio properties.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:annotation>
            <xs:documentation xml:lang="en">Global audio properties.</xs:documentation>
          </xs:annotation>
          <xs:all>
            <xs:element name="device" minOccurs="1" maxOccurs="1" default="default" type="xs:string">
              <xs:annotation>
                <xs:documentation xml:lang="en">Device to use for audio playback. A value of "default" will use the system's default audio device. Otherwise, specify a an audio device file"</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:all>
        </xs:complexType>
      </xs:element>
      <xs:element name="wind" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">The wind tag specifies the type and properties of the wind.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:annotation>
            <xs:documentation xml:lang="en">The wind tag specifies the type and properties of the wind.</xs:documentation>
          </xs:annotation>
          <xs:all>
            <xs:element name="linear_velocity" minOccurs="1" maxOccurs="1" default="0 0 0" type="types:vector3">
              <xs:annotation>
                <xs:documentation xml:lang="en">Linear velocity of the wind.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:all>
        </xs:complexType>
      </xs:element>
      <xs:element name="include" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation xml:lang="en">Include resources from a URI. Included resources can only contain one 'model', 'light' or 'actor' element. The URI can point to a directory or a file. If the URI is a directory, it must conform to the model database structure (see /tutorials?tut=composition&amp;cat=specification&amp;#defining-models-in-separate-files).</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:annotation>
            <xs:documentation xml:lang="en">Include resources from a URI. Included resources can only contain one 'model', 'light' or 'actor' element. The URI can point to a directory or a file. If the URI is a directory, it must conform to the model database structure (see /tutorials?tut=composition&amp;cat=specification&amp;#defining-models-in-separate-files).</xs:documentation>
          </xs:annotation>
          <xs:all>
            <xs:element name="uri" minOccurs="1" maxOccurs="1" default="__default__" type="xs:string">
              <xs:annotation>
                <xs:documentation xml:lang="en">URI to a resource, such as a model</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="name" minOccurs="0" maxOccurs="1" type="xs:string">
              <xs:annotation>
                <xs:documentation xml:lang="en">Override the name of the included entity.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="static" minOccurs="1" maxOccurs="1" default="false" type="xs:boolean">
              <xs:annotation>
                <xs:documentation xml:lang="en">Override the static value of the included entity.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="placement_frame" minOccurs="0" maxOccurs="1" type="xs:string">
              <xs:annotation>
                <xs:documentation xml:lang="en">The frame inside the included entity whose pose will be set by the specified pose element. If this element is specified, the pose must be specified.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="pose" minOccurs="1" maxOccurs="1" default="0 0 0 0 0 0">
              <xs:annotation>
                <xs:documentation xml:lang="en">A position(x,y,z) and orientation(roll, pitch yaw) with respect to the frame named in the relative_to attribute.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="types:pose">
                    <xs:attribute name="relative_to" type="xs:string" use="optional">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Name of frame relative to which the pose is applied.</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
          </xs:all>
        </xs:complexType>
      </xs:element>
      <xs:element name="gravity" minOccurs="1" maxOccurs="1" default="0 0 -9.8" type="types:vector3">
        <xs:annotation>
          <xs:documentation xml:lang="en">The gravity vector in m/s^2, expressed in a coordinate frame defined by the spherical_coordinates tag.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="magnetic_field" minOccurs="1" maxOccurs="1" default="5.5645e-6 22.8758e-6 -42.3884e-6" type="types:vector3">
        <xs:annotation>
          <xs:documentation xml:lang="en">The magnetic vector in Tesla, expressed in a coordinate frame defined by the spherical_coordinates tag.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="atmosphere" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">The atmosphere tag specifies the type and properties of the atmosphere model.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:annotation>
            <xs:documentation xml:lang="en">The atmosphere tag specifies the type and properties of the atmosphere model.</xs:documentation>
          </xs:annotation>
          <xs:all>
            <xs:element name="temperature" minOccurs="1" maxOccurs="1" default="288.15" type="xs:double">
              <xs:annotation>
                <xs:documentation xml:lang="en">Temperature at sea level in kelvins.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="pressure" minOccurs="1" maxOccurs="1" default="101325" type="xs:double">
              <xs:annotation>
                <xs:documentation xml:lang="en">Pressure at sea level in pascals.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="temperature_gradient" minOccurs="1" maxOccurs="1" default="-0.0065" type="xs:double">
              <xs:annotation>
                <xs:documentation xml:lang="en">Temperature gradient with respect to increasing altitude at sea level in units of K/m.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:all>
          <xs:attribute name="type" type="xs:string" use="required">
            <xs:annotation>
              <xs:documentation xml:lang="en">The type of the atmosphere engine. Current options are adiabatic.  Defaults to adiabatic if left unspecified.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="gui" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:all>
            <xs:element name="camera" minOccurs="0" maxOccurs="1">
              <xs:annotation>
                <xs:documentation xml:lang="en"></xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:annotation>
                  <xs:documentation xml:lang="en"></xs:documentation>
                </xs:annotation>
                <xs:all>
                  <xs:element name="view_controller" minOccurs="1" maxOccurs="1" default="orbit" type="xs:string"/>
                  <xs:element name="projection_type" minOccurs="1" maxOccurs="1" default="perspective" type="xs:string">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">Set the type of projection for the camera. Valid values are "perspective" and "orthographic".</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="track_visual" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                      <xs:all>
                        <xs:element name="name" minOccurs="1" maxOccurs="1" default="__default__" type="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Name of the tracked visual. If no name is provided, the remaining settings will be applied whenever tracking is triggered in the GUI.</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                        <xs:element name="min_dist" minOccurs="1" maxOccurs="1" default="0" type="xs:double">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Minimum distance between the camera and the tracked visual. This parameter is only used if static is set to false.</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                        <xs:element name="max_dist" minOccurs="1" maxOccurs="1" default="0" type="xs:double">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Maximum distance between the camera and the tracked visual. This parameter is only used if static is set to false.</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                        <xs:element name="static" minOccurs="1" maxOccurs="1" default="false" type="xs:boolean">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">If set to true, the position of the camera is fixed relatively to the model or to the world, depending on the value of the use_model_frame element. Otherwise, the position of the camera may vary but the distance between the camera and the model will depend on the value of the min_dist and max_dist elements. In any case, the camera will always follow the model by changing its orientation.</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                        <xs:element name="use_model_frame" minOccurs="1" maxOccurs="1" default="true" type="xs:boolean">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">If set to true, the position of the camera is relative to the model reference frame, which means that its position relative to the model will not change. Otherwise, the position of the camera is relative to the world reference frame, which means that its position relative to the world will not change. This parameter is only used if static is set to true.</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                        <xs:element name="xyz" minOccurs="1" maxOccurs="1" default="-5.0 0.0 3.0" type="types:vector3">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">The position of the camera's reference frame. This parameter is only used if static is set to true. If use_model_frame is set to true, the position is relative to the model reference frame, otherwise it represents world coordinates.</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                        <xs:element name="inherit_yaw" minOccurs="1" maxOccurs="1" default="false" type="xs:boolean">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">If set to true, the camera will inherit the yaw rotation of the tracked model. This parameter is only used if static and use_model_frame are set to true.</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                      </xs:all>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="pose" minOccurs="1" maxOccurs="1" default="0 0 0 0 0 0">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">A position(x,y,z) and orientation(roll, pitch yaw) with respect to the frame named in the relative_to attribute.</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:simpleContent>
                        <xs:extension base="types:pose">
                          <xs:attribute name="relative_to" type="xs:string" use="optional">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">Name of frame relative to which the pose is applied.</xs:documentation>
                            </xs:annotation>
                          </xs:attribute>
                        </xs:extension>
                      </xs:simpleContent>
                    </xs:complexType>
                  </xs:element>
                </xs:all>
                <xs:attribute name="name" type="xs:string" use="required"/>
              </xs:complexType>
            </xs:element>
            <xs:element name="plugin" minOccurs="0" maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation xml:lang="en">A plugin is a dynamically loaded chunk of code. It can exist as a child of world, model, and sensor.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:annotation>
                  <xs:documentation xml:lang="en">A plugin is a dynamically loaded chunk of code. It can exist as a child of world, model, and sensor.</xs:documentation>
                </xs:annotation>
                <xs:all>
                  <xs:any processContents="skip" minOccurs="0" maxOccurs="unbounded">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">This is a special element that should not be specified in an SDFormat file. It automatically copies child elements into the SDFormat element so that a plugin can access the data.</xs:documentation>
                    </xs:annotation>
                  </xs:any>
                </xs:all>
                <xs:attribute name="name" type="xs:string" use="required">
                  <xs:annotation>
                    <xs:documentation xml:lang="en">A unique name for the plugin, scoped to its parent.</xs:documentation>
                  </xs:annotation>
                </xs:attribute>
                <xs:attribute name="filename" type="xs:string" use="required">
                  <xs:annotation>
                    <xs:documentation xml:lang="en">Name of the shared library to load. If the filename is not a full path name, the file will be searched for in the configuration paths.</xs:documentation>
                  </xs:annotation>
                </xs:attribute>
              </xs:complexType>
            </xs:element>
          </xs:all>
          <xs:attribute name="fullscreen" type="xs:boolean" use="optional" default="false"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="physics" minOccurs="1" maxOccurs="unbounded" type="physics:physics">
        <xs:annotation>
          <xs:documentation xml:lang="en">The physics tag specifies the type and properties of the dynamics engine.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="scene" minOccurs="1" maxOccurs="1" type="scene:scene">
        <xs:annotation>
          <xs:documentation xml:lang="en">Specifies the look of the environment.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="light" minOccurs="0" maxOccurs="unbounded" type="light:light">
        <xs:annotation>
          <xs:documentation xml:lang="en">The light element describes a light source.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="frame" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation xml:lang="en">A frame of reference to which a pose is relative.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:annotation>
            <xs:documentation xml:lang="en">A frame of reference to which a pose is relative.</xs:documentation>
          </xs:annotation>
          <xs:all>
            <xs:element name="pose" minOccurs="1" maxOccurs="1" default="0 0 0 0 0 0">
              <xs:annotation>
                <xs:documentation xml:lang="en">A position(x,y,z) and orientation(roll, pitch yaw) with respect to the frame named in the relative_to attribute.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="types:pose">
                    <xs:attribute name="relative_to" type="xs:string" use="optional">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Name of frame relative to which the pose is applied.</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
          </xs:all>
          <xs:attribute name="name" type="xs:string" use="required">
            <xs:annotation>
              <xs:documentation xml:lang="en">Name of the frame. This name must not match another frame defined inside the parent that this frame is attached to.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="attached_to" type="xs:string" use="optional">
            <xs:annotation>
              <xs:documentation xml:lang="en">Name of the link or frame to which this frame is attached.       If a frame is specified, recursively following the attached_to attributes       of the specified frames must lead to the name of a link, a model, or the world frame.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="model" minOccurs="0" maxOccurs="unbounded" type="model:model">
        <xs:annotation>
          <xs:documentation xml:lang="en">The model element defines a complete robot or any other physical object.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="actor" minOccurs="0" maxOccurs="unbounded" type="actor:actor">
        <xs:annotation>
          <xs:documentation xml:lang="en">A special kind of model which can have a scripted motion. This includes both global waypoint type animations and skeleton animations.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="plugin" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation xml:lang="en">A plugin is a dynamically loaded chunk of code. It can exist as a child of world, model, and sensor.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:annotation>
            <xs:documentation xml:lang="en">A plugin is a dynamically loaded chunk of code. It can exist as a child of world, model, and sensor.</xs:documentation>
          </xs:annotation>
          <xs:all>
            <xs:any processContents="skip" minOccurs="0" maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation xml:lang="en">This is a special element that should not be specified in an SDFormat file. It automatically copies child elements into the SDFormat element so that a plugin can access the data.</xs:documentation>
              </xs:annotation>
            </xs:any>
          </xs:all>
          <xs:attribute name="name" type="xs:string" use="required">
            <xs:annotation>
              <xs:documentation xml:lang="en">A unique name for the plugin, scoped to its parent.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="filename" type="xs:string" use="required">
            <xs:annotation>
              <xs:documentation xml:lang="en">Name of the shared library to load. If the filename is not a full path name, the file will be searched for in the configuration paths.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="road" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:all>
            <xs:element name="width" minOccurs="1" maxOccurs="1" default="1.0" type="xs:double">
              <xs:annotation>
                <xs:documentation xml:lang="en">Width of the road</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="point" minOccurs="1" maxOccurs="unbounded" default="0 0 0" type="types:vector3">
              <xs:annotation>
                <xs:documentation xml:lang="en">A series of points that define the path of the road.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="material" minOccurs="0" maxOccurs="1" type="material:material">
              <xs:annotation>
                <xs:documentation xml:lang="en">The material of the visual element.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:all>
          <xs:attribute name="name" type="xs:string" use="required">
            <xs:annotation>
              <xs:documentation xml:lang="en">Name of the road</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="spherical_coordinates" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:all>
            <xs:element name="surface_model" minOccurs="1" maxOccurs="1" default="EARTH_WGS84" type="xs:string">
              <xs:annotation>
                <xs:documentation xml:lang="en">Name of planetary surface model, used to determine the surface altitude       at a given latitude and longitude. The default is an ellipsoid model of       the earth based on the WGS-84 standard. It is used in Gazebo's GPS sensor       implementation.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="world_frame_orientation" minOccurs="1" maxOccurs="1" default="ENU" type="xs:string">
              <xs:annotation>
                <xs:documentation xml:lang="en">This field identifies how Gazebo world frame is aligned in Geographical       sense.  The final Gazebo world frame orientation is obtained by rotating       a frame aligned with following notation by the field heading_deg (Note       that heading_deg corresponds to positive yaw rotation in the NED frame,       so it's inverse specifies positive Z-rotation in ENU or NWU).       Options are:         - ENU (East-North-Up)         - NED (North-East-Down)         - NWU (North-West-Up)       For example, world frame specified by setting world_orientation="ENU"       and heading_deg=-90&#176; is effectively equivalent to NWU with heading of 0&#176;.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="latitude_deg" minOccurs="1" maxOccurs="1" default="0.0" type="xs:double">
              <xs:annotation>
                <xs:documentation xml:lang="en">Geodetic latitude at origin of gazebo reference frame, specified       in units of degrees.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="longitude_deg" minOccurs="1" maxOccurs="1" default="0.0" type="xs:double">
              <xs:annotation>
                <xs:documentation xml:lang="en">Longitude at origin of gazebo reference frame, specified in units       of degrees.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="elevation" minOccurs="1" maxOccurs="1" default="0.0" type="xs:double">
              <xs:annotation>
                <xs:documentation xml:lang="en">Elevation of origin of gazebo reference frame, specified in meters.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="heading_deg" minOccurs="1" maxOccurs="1" default="0.0" type="xs:double">
              <xs:annotation>
                <xs:documentation xml:lang="en">Heading offset of gazebo reference frame, measured as angle between       Gazebo world frame and the world_frame_orientation type (ENU/NED/NWU).       Rotations about the downward-vector (e.g. North to East) are positive.       The direction of rotation is chosen to be consistent with compass       heading convention (e.g. 0 degrees points North and 90 degrees       points East, positive rotation indicates counterclockwise rotation       when viewed from top-down direction).       The angle is specified in degrees.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:all>
        </xs:complexType>
      </xs:element>
      <xs:element name="state" minOccurs="0" maxOccurs="unbounded" type="state:state"/>
      <xs:element name="population" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation xml:lang="en">The population element defines how and where a set of models will     be automatically populated in Gazebo.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:annotation>
            <xs:documentation xml:lang="en">The population element defines how and where a set of models will     be automatically populated in Gazebo.</xs:documentation>
          </xs:annotation>
          <xs:all>
            <xs:element name="model_count" minOccurs="1" maxOccurs="1" default="1" type="xs:int">
              <xs:annotation>
                <xs:documentation xml:lang="en">The number of models to place.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="distribution" minOccurs="1" maxOccurs="1">
              <xs:annotation>
                <xs:documentation xml:lang="en">Specifies the type of object distribution and its optional parameters.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:annotation>
                  <xs:documentation xml:lang="en">Specifies the type of object distribution and its optional parameters.</xs:documentation>
                </xs:annotation>
                <xs:all>
                  <xs:element name="type" minOccurs="1" maxOccurs="1" default="random" type="xs:string">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">Define how the objects will be placed in the specified region.         - random: Models placed at random.         - uniform: Models approximately placed in a 2D grid pattern with control             over the number of objects.         - grid: Models evenly placed in a 2D grid pattern. The number of objects             is not explicitly specified, it is based on the number of rows and             columns of the grid.         - linear-x: Models evently placed in a row along the global x-axis.         - linear-y: Models evently placed in a row along the global y-axis.         - linear-z: Models evently placed in a row along the global z-axis.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="rows" minOccurs="1" maxOccurs="1" default="1" type="xs:int">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">Number of rows in the grid.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="cols" minOccurs="1" maxOccurs="1" default="1" type="xs:int">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">Number of columns in the grid.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="step" minOccurs="1" maxOccurs="1" default="0.5 0.5 0" type="types:vector3">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">Distance between elements of the grid.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:all>
              </xs:complexType>
            </xs:element>
            <xs:element name="box" minOccurs="0" maxOccurs="1">
              <xs:annotation>
                <xs:documentation xml:lang="en">Box shape</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:annotation>
                  <xs:documentation xml:lang="en">Box shape</xs:documentation>
                </xs:annotation>
                <xs:all>
                  <xs:element name="size" minOccurs="1" maxOccurs="1" default="1 1 1" type="types:vector3">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">The three side lengths of the box. The origin of the box is in its geometric center (inside the center of the box).</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:all>
              </xs:complexType>
            </xs:element>
            <xs:element name="cylinder" minOccurs="0" maxOccurs="1">
              <xs:annotation>
                <xs:documentation xml:lang="en">Cylinder shape</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:annotation>
                  <xs:documentation xml:lang="en">Cylinder shape</xs:documentation>
                </xs:annotation>
                <xs:all>
                  <xs:element name="radius" minOccurs="1" maxOccurs="1" default="1" type="xs:double">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">Radius of the cylinder</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="length" minOccurs="1" maxOccurs="1" default="1" type="xs:double">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">Length of the cylinder along the z axis</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:all>
              </xs:complexType>
            </xs:element>
            <xs:element name="pose" minOccurs="1" maxOccurs="1" default="0 0 0 0 0 0">
              <xs:annotation>
                <xs:documentation xml:lang="en">A position(x,y,z) and orientation(roll, pitch yaw) with respect to the frame named in the relative_to attribute.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="types:pose">
                    <xs:attribute name="relative_to" type="xs:string" use="optional">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Name of frame relative to which the pose is applied.</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
            <xs:element name="model" minOccurs="0" maxOccurs="1" type="model:model">
              <xs:annotation>
                <xs:documentation xml:lang="en">The model element defines a complete robot or any other physical object.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:all>
          <xs:attribute name="name" type="xs:string" use="required">
            <xs:annotation>
              <xs:documentation xml:lang="en">A unique name for the population. This name must not match       another population in the world.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
    </xs:all>
    <xs:attribute name="name" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">Unique name of the world</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
</xs:schema>
