ropy/ignition/sdformat/schema/1.2/geometry.xsd

<xs:schema xmlns:types="sdformat/v1.2/types.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="sdformat/v1.2/geometry.xsd" version="1.1">
  <xs:import namespace="sdformat/v1.2/types.xsd" schemaLocation="./types.xsd"/>
  <xs:complexType name="geometry">
    <xs:annotation>
      <xs:documentation xml:lang="en">The shape of the visual or collision object.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="box" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Box shape</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:annotation>
            <xs:documentation xml:lang="en">Box shape</xs:documentation>
          </xs:annotation>
          <xs:all>
            <xs:element name="size" minOccurs="1" maxOccurs="1" default="1 1 1" type="types:vector3">
              <xs:annotation>
                <xs:documentation xml:lang="en">The three side lengths of the box. The origin of the box is in its geometric center (inside the center of the box).</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:all>
        </xs:complexType>
      </xs:element>
      <xs:element name="sphere" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Sphere shape</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:annotation>
            <xs:documentation xml:lang="en">Sphere shape</xs:documentation>
          </xs:annotation>
          <xs:all>
            <xs:element name="radius" minOccurs="1" maxOccurs="1" default="1" type="xs:double">
              <xs:annotation>
                <xs:documentation xml:lang="en">radius of the sphere</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:all>
        </xs:complexType>
      </xs:element>
      <xs:element name="cylinder" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Cylinder shape</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:annotation>
            <xs:documentation xml:lang="en">Cylinder shape</xs:documentation>
          </xs:annotation>
          <xs:all>
            <xs:element name="radius" minOccurs="1" maxOccurs="1" default="1" type="xs:double">
              <xs:annotation>
                <xs:documentation xml:lang="en">Radius of the cylinder</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="length" minOccurs="1" maxOccurs="1" default="1" type="xs:double">
              <xs:annotation>
                <xs:documentation xml:lang="en">Length of the cylinder</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:all>
        </xs:complexType>
      </xs:element>
      <xs:element name="mesh" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Mesh shape</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:annotation>
            <xs:documentation xml:lang="en">Mesh shape</xs:documentation>
          </xs:annotation>
          <xs:all>
            <xs:element name="filename" minOccurs="1" maxOccurs="1" default="__default__" type="xs:string">
              <xs:annotation>
                <xs:documentation xml:lang="en">Mesh filename. DEPRECATED</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="uri" minOccurs="1" maxOccurs="1" default="__default__" type="xs:string">
              <xs:annotation>
                <xs:documentation xml:lang="en">Mesh uri</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="scale" minOccurs="1" maxOccurs="1" default="1 1 1" type="types:vector3">
              <xs:annotation>
                <xs:documentation xml:lang="en">Scaling factor applied to the mesh</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:all>
        </xs:complexType>
      </xs:element>
      <xs:element name="plane" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Plane shape</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:annotation>
            <xs:documentation xml:lang="en">Plane shape</xs:documentation>
          </xs:annotation>
          <xs:all>
            <xs:element name="normal" minOccurs="1" maxOccurs="1" default="0 0 1" type="types:vector3">
              <xs:annotation>
                <xs:documentation xml:lang="en">Normal direction for the plane</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="size" minOccurs="1" maxOccurs="1" default="1 1" type="types:vector2d">
              <xs:annotation>
                <xs:documentation xml:lang="en">Length of each side of the plane</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:all>
        </xs:complexType>
      </xs:element>
      <xs:element name="image" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Extrude a set of boxes from a grayscale image.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:annotation>
            <xs:documentation xml:lang="en">Extrude a set of boxes from a grayscale image.</xs:documentation>
          </xs:annotation>
          <xs:all>
            <xs:element name="uri" minOccurs="1" maxOccurs="1" default="__default__" type="xs:string">
              <xs:annotation>
                <xs:documentation xml:lang="en">URI of the grayscale image file</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="scale" minOccurs="1" maxOccurs="1" default="1" type="xs:double">
              <xs:annotation>
                <xs:documentation xml:lang="en">Scaling factor applied to the image</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="threshold" minOccurs="1" maxOccurs="1" default="200" type="xs:int">
              <xs:annotation>
                <xs:documentation xml:lang="en">Grayscale threshold</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="height" minOccurs="1" maxOccurs="1" default="1" type="xs:double">
              <xs:annotation>
                <xs:documentation xml:lang="en">Height of the extruded boxes</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="granularity" minOccurs="1" maxOccurs="1" default="1" type="xs:int">
              <xs:annotation>
                <xs:documentation xml:lang="en">The amount of error in the model</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:all>
        </xs:complexType>
      </xs:element>
      <xs:element name="heightmap" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">A heightmap based on a 2d grayscale image.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:annotation>
            <xs:documentation xml:lang="en">A heightmap based on a 2d grayscale image.</xs:documentation>
          </xs:annotation>
          <xs:all>
            <xs:element name="uri" minOccurs="1" maxOccurs="1" default="__default__" type="xs:string">
              <xs:annotation>
                <xs:documentation xml:lang="en">URI to a grayscale image file</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="size" minOccurs="1" maxOccurs="1" default="1 1 1" type="types:vector3">
              <xs:annotation>
                <xs:documentation xml:lang="en">The size of the heightmap in world units</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="pos" minOccurs="1" maxOccurs="1" default="0 0 0" type="types:vector3">
              <xs:annotation>
                <xs:documentation xml:lang="en">A position offset.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="texture" minOccurs="0" maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation xml:lang="en">The heightmap can contain multiple textures. The order of the texture matters. The first texture will appear at the lowest height, and the last texture at the highest height. Use blend to control the height thresholds and fade between textures.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:annotation>
                  <xs:documentation xml:lang="en">The heightmap can contain multiple textures. The order of the texture matters. The first texture will appear at the lowest height, and the last texture at the highest height. Use blend to control the height thresholds and fade between textures.</xs:documentation>
                </xs:annotation>
                <xs:all>
                  <xs:element name="size" minOccurs="1" maxOccurs="1" default="10" type="xs:double">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">Size of the applied texture in meters.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="diffuse" minOccurs="1" maxOccurs="1" default="__default__" type="xs:string">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">Diffuse texture image filename</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="normal" minOccurs="1" maxOccurs="1" default="__default__" type="xs:string">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">Normalmap texture image filename</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:all>
              </xs:complexType>
            </xs:element>
            <xs:element name="blend" minOccurs="0" maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation xml:lang="en">The blend tag controls how two adjacent textures are mixed. The number of blend elements should equal one less than the number of textures.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:annotation>
                  <xs:documentation xml:lang="en">The blend tag controls how two adjacent textures are mixed. The number of blend elements should equal one less than the number of textures.</xs:documentation>
                </xs:annotation>
                <xs:all>
                  <xs:element name="min_height" minOccurs="1" maxOccurs="1" default="0" type="xs:double">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">Min height of a blend layer</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="fade_dist" minOccurs="1" maxOccurs="1" default="0" type="xs:double">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">Distance over which the blend occurs</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:all>
              </xs:complexType>
            </xs:element>
          </xs:all>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>
</xs:schema>
