skbot/ignition/sdformat/schema/1.7/state.xsd

<xs:schema xmlns:types="sdformat/v1.7/types.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:light="sdformat/v1.7/light.xsd" xmlns:model="sdformat/v1.7/model.xsd" targetNamespace="sdformat/v1.7/state.xsd" version="1.1">
  <xs:import namespace="sdformat/v1.7/model.xsd" schemaLocation="./model.xsd"/>
  <xs:import namespace="sdformat/v1.7/light.xsd" schemaLocation="./light.xsd"/>
  <xs:import namespace="sdformat/v1.7/types.xsd" schemaLocation="./types.xsd"/>
  <xs:complexType name="state">
    <xs:all>
      <xs:element name="sim_time" minOccurs="1" maxOccurs="1" default="0 0" type="types:time">
        <xs:annotation>
          <xs:documentation xml:lang="en">Simulation time stamp of the state [seconds nanoseconds]</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="wall_time" minOccurs="1" maxOccurs="1" default="0 0" type="types:time">
        <xs:annotation>
          <xs:documentation xml:lang="en">Wall time stamp of the state [seconds nanoseconds]</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="real_time" minOccurs="1" maxOccurs="1" default="0 0" type="types:time">
        <xs:annotation>
          <xs:documentation xml:lang="en">Real time stamp of the state [seconds nanoseconds]</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="iterations" minOccurs="1" maxOccurs="1" default="0" type="xs:unsignedInt">
        <xs:annotation>
          <xs:documentation xml:lang="en">Number of simulation iterations.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="insertions" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">A list containing the entire description of entities inserted.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:annotation>
            <xs:documentation xml:lang="en">A list containing the entire description of entities inserted.</xs:documentation>
          </xs:annotation>
          <xs:all>
            <xs:element name="model" minOccurs="0" maxOccurs="unbounded" type="model:model">
              <xs:annotation>
                <xs:documentation xml:lang="en">The model element defines a complete robot or any other physical object.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="light" minOccurs="0" maxOccurs="unbounded" type="light:light">
              <xs:annotation>
                <xs:documentation xml:lang="en">The light element describes a light source.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:all>
        </xs:complexType>
      </xs:element>
      <xs:element name="deletions" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">A list of names of deleted entities/</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:annotation>
            <xs:documentation xml:lang="en">A list of names of deleted entities/</xs:documentation>
          </xs:annotation>
          <xs:all>
            <xs:element name="name" minOccurs="1" maxOccurs="unbounded" default="__default__" type="xs:string">
              <xs:annotation>
                <xs:documentation xml:lang="en">The name of a deleted entity.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:all>
        </xs:complexType>
      </xs:element>
      <xs:element name="model" minOccurs="0" maxOccurs="unbounded" type="model">
        <xs:annotation>
          <xs:documentation xml:lang="en">Model state</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="light" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation xml:lang="en">Light state</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:annotation>
            <xs:documentation xml:lang="en">Light state</xs:documentation>
          </xs:annotation>
          <xs:all>
            <xs:element name="pose" minOccurs="1" maxOccurs="1" default="0 0 0 0 0 0">
              <xs:annotation>
                <xs:documentation xml:lang="en">A position(x,y,z) and orientation(roll, pitch yaw) with respect to the frame named in the relative_to attribute.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="types:pose">
                    <xs:attribute name="relative_to" type="xs:string" use="optional">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Name of frame relative to which the pose is applied.</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
          </xs:all>
          <xs:attribute name="name" type="xs:string" use="required">
            <xs:annotation>
              <xs:documentation xml:lang="en">Name of the light</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
    </xs:all>
    <xs:attribute name="world_name" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">Name of the world this state applies to</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="model">
    <xs:annotation>
      <xs:documentation xml:lang="en">Model state</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="joint" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation xml:lang="en">Joint angle</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:annotation>
            <xs:documentation xml:lang="en">Joint angle</xs:documentation>
          </xs:annotation>
          <xs:all>
            <xs:element name="angle" minOccurs="1" maxOccurs="unbounded" default="0">
              <xs:annotation>
                <xs:documentation xml:lang="en">Angle of an axis</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:double">
                    <xs:attribute name="axis" type="xs:unsignedInt" use="required">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Index of the axis.</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
          </xs:all>
          <xs:attribute name="name" type="xs:string" use="required">
            <xs:annotation>
              <xs:documentation xml:lang="en">Name of the joint</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="model" minOccurs="0" maxOccurs="unbounded" type="model">
        <xs:annotation>
          <xs:documentation xml:lang="en">A nested model state element</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="scale" minOccurs="1" maxOccurs="1" default="1 1 1" type="types:vector3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Scale for the 3 dimensions of the model.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="frame" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation xml:lang="en">A frame of reference to which a pose is relative.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:annotation>
            <xs:documentation xml:lang="en">A frame of reference to which a pose is relative.</xs:documentation>
          </xs:annotation>
          <xs:all>
            <xs:element name="pose" minOccurs="1" maxOccurs="1" default="0 0 0 0 0 0">
              <xs:annotation>
                <xs:documentation xml:lang="en">A position(x,y,z) and orientation(roll, pitch yaw) with respect to the frame named in the relative_to attribute.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="types:pose">
                    <xs:attribute name="relative_to" type="xs:string" use="optional">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Name of frame relative to which the pose is applied.</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
          </xs:all>
          <xs:attribute name="name" type="xs:string" use="required">
            <xs:annotation>
              <xs:documentation xml:lang="en">Name of the frame. This name must not match another frame defined inside the parent that this frame is attached to.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="attached_to" type="xs:string" use="optional">
            <xs:annotation>
              <xs:documentation xml:lang="en">Name of the link or frame to which this frame is attached.       If a frame is specified, recursively following the attached_to attributes       of the specified frames must lead to the name of a link, a model, or the world frame.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="pose" minOccurs="1" maxOccurs="1" default="0 0 0 0 0 0">
        <xs:annotation>
          <xs:documentation xml:lang="en">A position(x,y,z) and orientation(roll, pitch yaw) with respect to the frame named in the relative_to attribute.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="types:pose">
              <xs:attribute name="relative_to" type="xs:string" use="optional">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Name of frame relative to which the pose is applied.</xs:documentation>
                </xs:annotation>
              </xs:attribute>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="link" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation xml:lang="en">Link state</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:annotation>
            <xs:documentation xml:lang="en">Link state</xs:documentation>
          </xs:annotation>
          <xs:all>
            <xs:element name="velocity" minOccurs="1" maxOccurs="1" default="0 0 0 0 0 0" type="types:pose">
              <xs:annotation>
                <xs:documentation xml:lang="en">Velocity of the link. The x, y, z components of the pose       correspond to the linear velocity of the link, and the roll, pitch, yaw       components correspond to the angular velocity of the link</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="acceleration" minOccurs="1" maxOccurs="1" default="0 0 0 0 0 0" type="types:pose">
              <xs:annotation>
                <xs:documentation xml:lang="en">Acceleration of the link. The x, y, z components of the pose       correspond to the linear acceleration of the link, and the roll,       pitch, yaw components correspond to the angular acceleration of the link</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="wrench" minOccurs="1" maxOccurs="1" default="0 0 0 0 0 0" type="types:pose">
              <xs:annotation>
                <xs:documentation xml:lang="en">Force and torque applied to the link. The x, y, z components       of the pose correspond to the force applied to the link, and the roll,       pitch, yaw components correspond to the torque applied to the link</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="collision" minOccurs="0" maxOccurs="unbounded" type="xs:string">
              <xs:annotation>
                <xs:documentation xml:lang="en">Collision state</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="pose" minOccurs="1" maxOccurs="1" default="0 0 0 0 0 0">
              <xs:annotation>
                <xs:documentation xml:lang="en">A position(x,y,z) and orientation(roll, pitch yaw) with respect to the frame named in the relative_to attribute.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="types:pose">
                    <xs:attribute name="relative_to" type="xs:string" use="optional">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Name of frame relative to which the pose is applied.</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
          </xs:all>
          <xs:attribute name="name" type="xs:string" use="required">
            <xs:annotation>
              <xs:documentation xml:lang="en">Name of the link</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
    </xs:all>
    <xs:attribute name="name" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">Name of the model</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
</xs:schema>
