skbot/ignition/sdformat/schema/1.7/state.xsd

<xs:schema xmlns:types="sdformat/v1.7/types.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:light="sdformat/v1.7/light.xsd" xmlns:model="sdformat/v1.7/model.xsd" targetNamespace="sdformat/v1.7/state.xsd" version="1.1">
  <xs:import namespace="sdformat/v1.7/model.xsd" schemaLocation="./model.xsd"/>
  <xs:import namespace="sdformat/v1.7/light.xsd" schemaLocation="./light.xsd"/>
  <xs:import namespace="sdformat/v1.7/types.xsd" schemaLocation="./types.xsd"/>
  <xs:complexType name="state">
    <xs:all>
      <xs:element name="sim_time" minOccurs="1" maxOccurs="1" default="0 0" type="types:time">
        <xs:annotation>
          <xs:documentation xml:lang="en">Simulation time stamp of the state [seconds nanoseconds]</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="wall_time" minOccurs="1" maxOccurs="1" default="0 0" type="types:time">
        <xs:annotation>
          <xs:documentation xml:lang="en">Wall time stamp of the state [seconds nanoseconds]</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="real_time" minOccurs="1" maxOccurs="1" default="0 0" type="types:time">
        <xs:annotation>
          <xs:documentation xml:lang="en">Real time stamp of the state [seconds nanoseconds]</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="iterations" minOccurs="1" maxOccurs="1" default="0" type="xs:unsignedInt">
        <xs:annotation>
          <xs:documentation xml:lang="en">Number of simulation iterations.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="insertions" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">A list containing the entire description of entities inserted.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:annotation>
            <xs:documentation xml:lang="en">A list containing the entire description of entities inserted.</xs:documentation>
          </xs:annotation>
          <xs:all>
            <xs:element name="model" minOccurs="0" maxOccurs="unbounded" type="model:model">
              <xs:annotation>
                <xs:documentation xml:lang="en">The model element defines a complete robot or any other physical object.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="light" minOccurs="0" maxOccurs="unbounded" type="light:light">
              <xs:annotation>
                <xs:documentation xml:lang="en">The light element describes a light source.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:all>
        </xs:complexType>
      </xs:element>
      <xs:element name="deletions" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">A list of names of deleted entities/</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:annotation>
            <xs:documentation xml:lang="en">A list of names of deleted entities/</xs:documentation>
          </xs:annotation>
          <xs:all>
            <xs:element name="name" minOccurs="1" maxOccurs="unbounded" default="__default__" type="xs:string">
              <xs:annotation>
                <xs:documentation xml:lang="en">The name of a deleted entity.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:all>
        </xs:complexType>
      </xs:element>
      <xs:element name="model" minOccurs="0" maxOccurs="unbounded" type="model">
        <xs:annotation>
          <xs:documentation xml:lang="en">Model state</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="light" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation xml:lang="en">Light state</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:annotation>
            <xs:documentation xml:lang="en">Light state</xs:documentation>
          </xs:annotation>
          <xs:all>
            <xs:element name="pose" minOccurs="1" maxOccurs="1" default="0 0 0 0 0 0">
              <xs:annotation>
                <xs:documentation xml:lang="en">A position(x,y,z) and orientation(roll, pitch yaw) with respect   to the frame named in the relative_to attribute.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="types:pose">
                    <xs:attribute name="relative_to" type="xs:string" use="optional">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">If specified, this pose is expressed in the named frame. The named frame       must be declared within the same scope (world/model) as the element that       has its pose specified by this tag.        If missing, the pose is expressed in the frame of the parent XML element       of the element that contains the pose. For exceptions to this rule and       more details on the default behavior, see       http://sdformat.org/tutorials?tut=pose_frame_semantics.        Note that @relative_to merely affects an element's initial pose and       does not affect the element's dynamic movement thereafter.</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
          </xs:all>
          <xs:attribute name="name" type="xs:string" use="required">
            <xs:annotation>
              <xs:documentation xml:lang="en">Name of the light</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
    </xs:all>
    <xs:attribute name="world_name" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">Name of the world this state applies to</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="model">
    <xs:annotation>
      <xs:documentation xml:lang="en">Model state</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="joint" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation xml:lang="en">Joint angle</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:annotation>
            <xs:documentation xml:lang="en">Joint angle</xs:documentation>
          </xs:annotation>
          <xs:all>
            <xs:element name="angle" minOccurs="1" maxOccurs="unbounded" default="0">
              <xs:annotation>
                <xs:documentation xml:lang="en">Angle of an axis</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:double">
                    <xs:attribute name="axis" type="xs:unsignedInt" use="required">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Index of the axis.</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
          </xs:all>
          <xs:attribute name="name" type="xs:string" use="required">
            <xs:annotation>
              <xs:documentation xml:lang="en">Name of the joint</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="model" minOccurs="0" maxOccurs="unbounded" type="model">
        <xs:annotation>
          <xs:documentation xml:lang="en">A nested model state element</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="scale" minOccurs="1" maxOccurs="1" default="1 1 1" type="types:vector3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Scale for the 3 dimensions of the model.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="frame" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation xml:lang="en">A frame of reference in which poses may be expressed.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:annotation>
            <xs:documentation xml:lang="en">A frame of reference in which poses may be expressed.</xs:documentation>
          </xs:annotation>
          <xs:all>
            <xs:element name="pose" minOccurs="1" maxOccurs="1" default="0 0 0 0 0 0">
              <xs:annotation>
                <xs:documentation xml:lang="en">A position(x,y,z) and orientation(roll, pitch yaw) with respect   to the frame named in the relative_to attribute.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="types:pose">
                    <xs:attribute name="relative_to" type="xs:string" use="optional">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">If specified, this pose is expressed in the named frame. The named frame       must be declared within the same scope (world/model) as the element that       has its pose specified by this tag.        If missing, the pose is expressed in the frame of the parent XML element       of the element that contains the pose. For exceptions to this rule and       more details on the default behavior, see       http://sdformat.org/tutorials?tut=pose_frame_semantics.        Note that @relative_to merely affects an element's initial pose and       does not affect the element's dynamic movement thereafter.</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
          </xs:all>
          <xs:attribute name="name" type="xs:string" use="required">
            <xs:annotation>
              <xs:documentation xml:lang="en">Name of the frame. It must be unique whithin its scope (model/world),       i.e., it must not match the name of another frame, link, joint, or model       within the same scope.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="attached_to" type="xs:string" use="optional">
            <xs:annotation>
              <xs:documentation xml:lang="en">If specified, this frame is attached to the specified frame. The specified       frame must be within the same scope and may be defined implicitly, i.e.,       the name of any //frame, //model, //joint, or //link within the same scope       may be used.        If missing, this frame is attached to the containing scope's frame. Within       a //world scope this is the implicit world frame, and within a //model       scope this is the implicit model frame.        A frame moves jointly with the frame it is @attached_to. This is different       from //pose/@relative_to. @attached_to defines how the frame is attached       to a //link, //model, or //world frame, while //pose/@relative_to defines       how the frame's pose is represented numerically. As a result, following       the chain of @attached_to attributes must always lead to a //link,       //model, //world, or //joint (implicitly attached_to its child //link).</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="pose" minOccurs="1" maxOccurs="1" default="0 0 0 0 0 0">
        <xs:annotation>
          <xs:documentation xml:lang="en">A position(x,y,z) and orientation(roll, pitch yaw) with respect   to the frame named in the relative_to attribute.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="types:pose">
              <xs:attribute name="relative_to" type="xs:string" use="optional">
                <xs:annotation>
                  <xs:documentation xml:lang="en">If specified, this pose is expressed in the named frame. The named frame       must be declared within the same scope (world/model) as the element that       has its pose specified by this tag.        If missing, the pose is expressed in the frame of the parent XML element       of the element that contains the pose. For exceptions to this rule and       more details on the default behavior, see       http://sdformat.org/tutorials?tut=pose_frame_semantics.        Note that @relative_to merely affects an element's initial pose and       does not affect the element's dynamic movement thereafter.</xs:documentation>
                </xs:annotation>
              </xs:attribute>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="link" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation xml:lang="en">Link state</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:annotation>
            <xs:documentation xml:lang="en">Link state</xs:documentation>
          </xs:annotation>
          <xs:all>
            <xs:element name="velocity" minOccurs="1" maxOccurs="1" default="0 0 0 0 0 0" type="types:pose">
              <xs:annotation>
                <xs:documentation xml:lang="en">Velocity of the link. The x, y, z components of the pose       correspond to the linear velocity of the link, and the roll, pitch, yaw       components correspond to the angular velocity of the link</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="acceleration" minOccurs="1" maxOccurs="1" default="0 0 0 0 0 0" type="types:pose">
              <xs:annotation>
                <xs:documentation xml:lang="en">Acceleration of the link. The x, y, z components of the pose       correspond to the linear acceleration of the link, and the roll,       pitch, yaw components correspond to the angular acceleration of the link</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="wrench" minOccurs="1" maxOccurs="1" default="0 0 0 0 0 0" type="types:pose">
              <xs:annotation>
                <xs:documentation xml:lang="en">Force and torque applied to the link. The x, y, z components       of the pose correspond to the force applied to the link, and the roll,       pitch, yaw components correspond to the torque applied to the link</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="collision" minOccurs="0" maxOccurs="unbounded" type="xs:string">
              <xs:annotation>
                <xs:documentation xml:lang="en">Collision state</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="pose" minOccurs="1" maxOccurs="1" default="0 0 0 0 0 0">
              <xs:annotation>
                <xs:documentation xml:lang="en">A position(x,y,z) and orientation(roll, pitch yaw) with respect   to the frame named in the relative_to attribute.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="types:pose">
                    <xs:attribute name="relative_to" type="xs:string" use="optional">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">If specified, this pose is expressed in the named frame. The named frame       must be declared within the same scope (world/model) as the element that       has its pose specified by this tag.        If missing, the pose is expressed in the frame of the parent XML element       of the element that contains the pose. For exceptions to this rule and       more details on the default behavior, see       http://sdformat.org/tutorials?tut=pose_frame_semantics.        Note that @relative_to merely affects an element's initial pose and       does not affect the element's dynamic movement thereafter.</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
          </xs:all>
          <xs:attribute name="name" type="xs:string" use="required">
            <xs:annotation>
              <xs:documentation xml:lang="en">Name of the link</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
    </xs:all>
    <xs:attribute name="name" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">Name of the model</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
</xs:schema>
