skbot/ignition/sdformat/schema/1.5/joint.xsd

<xs:schema xmlns:types="sdformat/v1.5/types.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:sensor="sdformat/v1.5/sensor.xsd" targetNamespace="sdformat/v1.5/joint.xsd" version="1.1">
  <xs:import namespace="sdformat/v1.5/sensor.xsd" schemaLocation="./sensor.xsd"/>
  <xs:import namespace="sdformat/v1.5/types.xsd" schemaLocation="./types.xsd"/>
  <xs:complexType name="joint">
    <xs:annotation>
      <xs:documentation xml:lang="en">A joint connections two links with kinematic and dynamic properties.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="parent" minOccurs="1" maxOccurs="1" default="__default__" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="en">Name of the parent link</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="child" minOccurs="1" maxOccurs="1" default="__default__" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="en">Name of the child link</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="gearbox_ratio" minOccurs="1" maxOccurs="1" default="1.0" type="xs:double">
        <xs:annotation>
          <xs:documentation xml:lang="en">Parameter for gearbox joints.  Given theta_1 and theta_2 defined in description for gearbox_reference_body, theta_2 = -gearbox_ratio * theta_1.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="gearbox_reference_body" minOccurs="1" maxOccurs="1" default="__default__" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="en">Parameter for gearbox joints.  Gearbox ratio is enforced over two joint angles.  First joint angle (theta_1) is the angle from the gearbox_reference_body to the parent link in the direction of the axis element and the second joint angle (theta_2) is the angle from the gearbox_reference_body to the child link in the direction of the axis2 element.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="thread_pitch" minOccurs="1" maxOccurs="1" default="1.0" type="xs:double">
        <xs:annotation>
          <xs:documentation xml:lang="en">Parameter for screw joints.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="axis" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Parameters related to the axis of rotation for revolute joints,       the axis of translation for prismatic joints.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:annotation>
            <xs:documentation xml:lang="en">Parameters related to the axis of rotation for revolute joints,       the axis of translation for prismatic joints.</xs:documentation>
          </xs:annotation>
          <xs:all>
            <xs:element name="xyz" minOccurs="1" maxOccurs="1" default="0 0 1" type="types:vector3">
              <xs:annotation>
                <xs:documentation xml:lang="en">Represents the x,y,z components of the axis unit vector. The axis is         expressed in the joint frame unless the use_parent_model_frame         flag is set to true. The vector should be normalized.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="use_parent_model_frame" minOccurs="1" maxOccurs="1" default="false" type="xs:boolean">
              <xs:annotation>
                <xs:documentation xml:lang="en">Flag to interpret the axis xyz element in the parent model frame instead         of joint frame. Provided for Gazebo compatibility         (see https://github.com/osrf/gazebo/issue/494 ).</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="dynamics" minOccurs="0" maxOccurs="1">
              <xs:annotation>
                <xs:documentation xml:lang="en">An element specifying physical properties of the joint. These values are used to specify modeling properties of the joint, particularly useful for simulation.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:annotation>
                  <xs:documentation xml:lang="en">An element specifying physical properties of the joint. These values are used to specify modeling properties of the joint, particularly useful for simulation.</xs:documentation>
                </xs:annotation>
                <xs:all>
                  <xs:element name="damping" minOccurs="1" maxOccurs="1" default="0" type="xs:double">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">The physical velocity dependent viscous damping coefficient of the joint.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="friction" minOccurs="1" maxOccurs="1" default="0" type="xs:double">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">The physical static friction value of the joint.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="spring_reference" minOccurs="1" maxOccurs="1" default="0" type="xs:double">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">The spring reference position for this joint axis.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="spring_stiffness" minOccurs="1" maxOccurs="1" default="0" type="xs:double">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">The spring stiffness for this joint axis.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:all>
              </xs:complexType>
            </xs:element>
            <xs:element name="limit" minOccurs="1" maxOccurs="1">
              <xs:annotation>
                <xs:documentation xml:lang="en">specifies the limits of this joint</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:annotation>
                  <xs:documentation xml:lang="en">specifies the limits of this joint</xs:documentation>
                </xs:annotation>
                <xs:all>
                  <xs:element name="lower" minOccurs="1" maxOccurs="1" default="-1e16" type="xs:double">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">An attribute specifying the lower joint limit (radians for revolute joints, meters for prismatic joints). Omit if joint is continuous.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="upper" minOccurs="1" maxOccurs="1" default="1e16" type="xs:double">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">An attribute specifying the upper joint limit (radians for revolute joints, meters for prismatic joints). Omit if joint is continuous.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="effort" minOccurs="1" maxOccurs="1" default="-1" type="xs:double">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">An attribute for enforcing the maximum joint effort applied by Joint::SetForce.  Limit is not enforced if value is negative.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="velocity" minOccurs="1" maxOccurs="1" default="-1" type="xs:double">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">(not implemented) An attribute for enforcing the maximum joint velocity.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="stiffness" minOccurs="1" maxOccurs="1" default="1e8" type="xs:double">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">Joint stop stiffness. Support physics engines: SimBody.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="dissipation" minOccurs="1" maxOccurs="1" default="1.0" type="xs:double">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">Joint stop dissipation.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:all>
              </xs:complexType>
            </xs:element>
          </xs:all>
        </xs:complexType>
      </xs:element>
      <xs:element name="axis2" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Parameters related to the second axis of rotation for revolute2 joints and universal joints.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:annotation>
            <xs:documentation xml:lang="en">Parameters related to the second axis of rotation for revolute2 joints and universal joints.</xs:documentation>
          </xs:annotation>
          <xs:all>
            <xs:element name="xyz" minOccurs="1" maxOccurs="1" default="0 0 1" type="types:vector3">
              <xs:annotation>
                <xs:documentation xml:lang="en">Represents the x,y,z components of the axis unit vector. The axis is         expressed in the joint frame unless the use_parent_model_frame         flag is set to true. The vector should be normalized.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="use_parent_model_frame" minOccurs="1" maxOccurs="1" default="false" type="xs:boolean">
              <xs:annotation>
                <xs:documentation xml:lang="en">Flag to interpret the axis xyz element in the parent model frame instead         of joint frame. Provided for Gazebo compatibility         (see https://github.com/osrf/gazebo/issue/494 ).</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="dynamics" minOccurs="0" maxOccurs="1">
              <xs:annotation>
                <xs:documentation xml:lang="en">An element specifying physical properties of the joint. These values are used to specify modeling properties of the joint, particularly useful for simulation.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:annotation>
                  <xs:documentation xml:lang="en">An element specifying physical properties of the joint. These values are used to specify modeling properties of the joint, particularly useful for simulation.</xs:documentation>
                </xs:annotation>
                <xs:all>
                  <xs:element name="damping" minOccurs="1" maxOccurs="1" default="0" type="xs:double">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">The physical velocity dependent viscous damping coefficient of the joint.  EXPERIMENTAL: if damping coefficient is negative and implicit_spring_damper is true, adaptive damping is used.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="friction" minOccurs="1" maxOccurs="1" default="0" type="xs:double">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">The physical static friction value of the joint.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="spring_reference" minOccurs="1" maxOccurs="1" default="0" type="xs:double">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">The spring reference position for this joint axis.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="spring_stiffness" minOccurs="1" maxOccurs="1" default="0" type="xs:double">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">The spring stiffness for this joint axis.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:all>
              </xs:complexType>
            </xs:element>
            <xs:element name="limit" minOccurs="0" maxOccurs="1">
              <xs:complexType>
                <xs:all>
                  <xs:element name="lower" minOccurs="1" maxOccurs="1" default="-1e16" type="xs:double">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">An attribute specifying the lower joint limit (radians for revolute joints, meters for prismatic joints). Omit if joint is continuous.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="upper" minOccurs="1" maxOccurs="1" default="1e16" type="xs:double">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">An attribute specifying the upper joint limit (radians for revolute joints, meters for prismatic joints). Omit if joint is continuous.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="effort" minOccurs="1" maxOccurs="1" default="-1" type="xs:double">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">An attribute for enforcing the maximum joint effort applied by Joint::SetForce.  Limit is not enforced if value is negative.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="velocity" minOccurs="1" maxOccurs="1" default="-1" type="xs:double">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">(not implemented) An attribute for enforcing the maximum joint velocity.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="stiffness" minOccurs="1" maxOccurs="1" default="1e8" type="xs:double">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">Joint stop stiffness. Supported physics engines: SimBody.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="dissipation" minOccurs="1" maxOccurs="1" default="1.0" type="xs:double">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">Joint stop dissipation. Supported physics engines: SimBody.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:all>
              </xs:complexType>
            </xs:element>
          </xs:all>
        </xs:complexType>
      </xs:element>
      <xs:element name="physics" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Parameters that are specific to a certain physics engine.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:annotation>
            <xs:documentation xml:lang="en">Parameters that are specific to a certain physics engine.</xs:documentation>
          </xs:annotation>
          <xs:all>
            <xs:element name="simbody" minOccurs="0" maxOccurs="1">
              <xs:annotation>
                <xs:documentation xml:lang="en">Simbody specific parameters</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:annotation>
                  <xs:documentation xml:lang="en">Simbody specific parameters</xs:documentation>
                </xs:annotation>
                <xs:all>
                  <xs:element name="must_be_loop_joint" minOccurs="1" maxOccurs="1" default="false" type="xs:boolean">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">Force cut in the multibody graph at this joint.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:all>
              </xs:complexType>
            </xs:element>
            <xs:element name="ode" minOccurs="0" maxOccurs="1">
              <xs:annotation>
                <xs:documentation xml:lang="en">ODE specific parameters</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:annotation>
                  <xs:documentation xml:lang="en">ODE specific parameters</xs:documentation>
                </xs:annotation>
                <xs:all>
                  <xs:element name="provide_feedback" minOccurs="1" maxOccurs="1" default="false" type="xs:boolean">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">(DEPRECATION WARNING:  In SDFormat 1.5 this tag will be replaced by the same tag directly under the physics-block.  For now, this tag overrides the one outside of ode-block, but in SDFormat 1.5 this tag will be removed completely.)  If provide feedback is set to true, ODE will compute the constraint forces at this joint.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="cfm_damping" minOccurs="1" maxOccurs="1" default="false" type="xs:boolean">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">If cfm damping is set to true, ODE will use CFM to simulate damping, allows for infinite damping, and one additional constraint row (previously used for joint limit) is always active.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="implicit_spring_damper" minOccurs="1" maxOccurs="1" default="false" type="xs:boolean">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">If implicit_spring_damper is set to true, ODE will use CFM, ERP to simulate stiffness and damping, allows for infinite damping, and one additional constraint row (previously used for joint limit) is always active.  This replaces cfm_damping parameter in SDFormat 1.4.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="fudge_factor" minOccurs="1" maxOccurs="1" default="0" type="xs:double">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">Scale the excess for in a joint motor at joint limits. Should be between zero and one.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="cfm" minOccurs="1" maxOccurs="1" default="0" type="xs:double">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">Constraint force mixing for constrained directions</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="erp" minOccurs="1" maxOccurs="1" default="0.2" type="xs:double">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">Error reduction parameter for constrained directions</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="bounce" minOccurs="1" maxOccurs="1" default="0" type="xs:double">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">Bounciness of the limits</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="max_force" minOccurs="1" maxOccurs="1" default="0" type="xs:double">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">Maximum force or torque used to reach the desired velocity.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="velocity" minOccurs="1" maxOccurs="1" default="0" type="xs:double">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">The desired velocity of the joint. Should only be set if you want the joint to move on load.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="limit" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                      <xs:all>
                        <xs:element name="cfm" minOccurs="1" maxOccurs="1" default="0.0" type="xs:double">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Constraint force mixing parameter used by the joint stop</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                        <xs:element name="erp" minOccurs="1" maxOccurs="1" default="0.2" type="xs:double">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Error reduction parameter used by the joint stop</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                      </xs:all>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="suspension" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                      <xs:all>
                        <xs:element name="cfm" minOccurs="1" maxOccurs="1" default="0.0" type="xs:double">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Suspension constraint force mixing parameter</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                        <xs:element name="erp" minOccurs="1" maxOccurs="1" default="0.2" type="xs:double">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Suspension error reduction parameter</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                      </xs:all>
                    </xs:complexType>
                  </xs:element>
                </xs:all>
              </xs:complexType>
            </xs:element>
            <xs:element name="provide_feedback" minOccurs="1" maxOccurs="1" default="false" type="xs:boolean">
              <xs:annotation>
                <xs:documentation xml:lang="en">If provide feedback is set to true, physics engine will compute the constraint forces at this joint.  For now, provide_feedback under ode block will override this tag and given user warning about the migration.  provide_feedback under ode is scheduled to be removed in SDFormat 1.5.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:all>
        </xs:complexType>
      </xs:element>
      <xs:element name="frame" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation xml:lang="en">A frame of reference to which a pose is relative.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:annotation>
            <xs:documentation xml:lang="en">A frame of reference to which a pose is relative.</xs:documentation>
          </xs:annotation>
          <xs:all>
            <xs:element name="pose" minOccurs="1" maxOccurs="1" default="0 0 0 0 0 0">
              <xs:annotation>
                <xs:documentation xml:lang="en">A position(x,y,z) and orientation(roll, pitch yaw) with respect to the specified frame.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="types:pose">
                    <xs:attribute name="frame" type="xs:string" use="optional">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Name of frame which the pose is defined relative to.</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
          </xs:all>
          <xs:attribute name="name" type="xs:string" use="required">
            <xs:annotation>
              <xs:documentation xml:lang="en">Name of the frame. This name must not match another frame defined inside the parent that this frame is attached to.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="pose" minOccurs="1" maxOccurs="1" default="0 0 0 0 0 0">
        <xs:annotation>
          <xs:documentation xml:lang="en">A position(x,y,z) and orientation(roll, pitch yaw) with respect to the specified frame.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="types:pose">
              <xs:attribute name="frame" type="xs:string" use="optional">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Name of frame which the pose is defined relative to.</xs:documentation>
                </xs:annotation>
              </xs:attribute>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="sensor" minOccurs="0" maxOccurs="unbounded" type="sensor:sensor">
        <xs:annotation>
          <xs:documentation xml:lang="en">The sensor tag describes the type and properties of a sensor.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:all>
    <xs:attribute name="name" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">A unique name for the joint within the scope of the model.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="type" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">The type of joint, which must be one of the following:       (revolute) a hinge joint that rotates on a single axis with either a fixed or continuous range of motion,       (gearbox) geared revolute joints,       (revolute2) same as two revolute joints connected in series,       (prismatic) a sliding joint that slides along an axis with a limited range specified by upper and lower limits,       (ball) a ball and socket joint,       (screw) a single degree of freedom joint with coupled sliding and rotational motion,       (universal) like a ball joint, but constrains one degree of freedom,       (fixed) a joint with zero degrees of freedom that rigidly connects two links.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
</xs:schema>
