skbot/ignition/sdformat/schema/1.5/link.xsd

<xs:schema xmlns:types="sdformat/v1.5/types.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:sensor="sdformat/v1.5/sensor.xsd" xmlns:collision="sdformat/v1.5/collision.xsd" xmlns:visual="sdformat/v1.5/visual.xsd" targetNamespace="sdformat/v1.5/link.xsd" version="1.1">
  <xs:import namespace="sdformat/v1.5/visual.xsd" schemaLocation="./visual.xsd"/>
  <xs:import namespace="sdformat/v1.5/collision.xsd" schemaLocation="./collision.xsd"/>
  <xs:import namespace="sdformat/v1.5/sensor.xsd" schemaLocation="./sensor.xsd"/>
  <xs:import namespace="sdformat/v1.5/types.xsd" schemaLocation="./types.xsd"/>
  <xs:complexType name="link">
    <xs:annotation>
      <xs:documentation xml:lang="en">A physical link with inertia, collision, and visual properties. A link must be a child of a model, and any number of links may exist in a model.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="gravity" minOccurs="1" maxOccurs="1" default="true" type="xs:boolean">
        <xs:annotation>
          <xs:documentation xml:lang="en">If true, the link is affected by gravity.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="self_collide" minOccurs="1" maxOccurs="1" default="false" type="xs:boolean">
        <xs:annotation>
          <xs:documentation xml:lang="en">If true, the link can collide with other links in the model. Two links within a model will collide if link1.self_collide OR link2.self_collide. Links connected by a joint will never collide.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="kinematic" minOccurs="1" maxOccurs="1" default="false" type="xs:boolean">
        <xs:annotation>
          <xs:documentation xml:lang="en">If true, the link is kinematic only</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="must_be_base_link" minOccurs="1" maxOccurs="1" default="false" type="xs:boolean">
        <xs:annotation>
          <xs:documentation xml:lang="en">If true, the link will have 6DOF and be a direct child of world.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="velocity_decay" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Exponential damping of the link's velocity.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:annotation>
            <xs:documentation xml:lang="en">Exponential damping of the link's velocity.</xs:documentation>
          </xs:annotation>
          <xs:all>
            <xs:element name="linear" minOccurs="1" maxOccurs="1" default="0.0" type="xs:double">
              <xs:annotation>
                <xs:documentation xml:lang="en">Linear damping</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="angular" minOccurs="1" maxOccurs="1" default="0.0" type="xs:double">
              <xs:annotation>
                <xs:documentation xml:lang="en">Angular damping</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:all>
        </xs:complexType>
      </xs:element>
      <xs:element name="frame" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation xml:lang="en">A frame of reference to which a pose is relative.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:annotation>
            <xs:documentation xml:lang="en">A frame of reference to which a pose is relative.</xs:documentation>
          </xs:annotation>
          <xs:all>
            <xs:element name="pose" minOccurs="1" maxOccurs="1" default="0 0 0 0 0 0">
              <xs:annotation>
                <xs:documentation xml:lang="en">A position(x,y,z) and orientation(roll, pitch yaw) with respect to the specified frame.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="types:pose">
                    <xs:attribute name="frame" type="xs:string" use="optional">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Name of frame which the pose is defined relative to.</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
          </xs:all>
          <xs:attribute name="name" type="xs:string" use="required">
            <xs:annotation>
              <xs:documentation xml:lang="en">Name of the frame. This name must not match another frame defined inside the parent that this frame is attached to.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="pose" minOccurs="1" maxOccurs="1" default="0 0 0 0 0 0">
        <xs:annotation>
          <xs:documentation xml:lang="en">A position(x,y,z) and orientation(roll, pitch yaw) with respect to the specified frame.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="types:pose">
              <xs:attribute name="frame" type="xs:string" use="optional">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Name of frame which the pose is defined relative to.</xs:documentation>
                </xs:annotation>
              </xs:attribute>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="inertial" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">The inertial properties of the link.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:annotation>
            <xs:documentation xml:lang="en">The inertial properties of the link.</xs:documentation>
          </xs:annotation>
          <xs:all>
            <xs:element name="mass" minOccurs="1" maxOccurs="1" default="1.0" type="xs:double">
              <xs:annotation>
                <xs:documentation xml:lang="en">The mass of the link.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="inertia" minOccurs="0" maxOccurs="1">
              <xs:annotation>
                <xs:documentation xml:lang="en">The 3x3 rotational inertia matrix. Because the rotational inertia matrix is symmetric, only 6 above-diagonal elements of this matrix are specified here, using the attributes ixx, ixy, ixz, iyy, iyz, izz.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:annotation>
                  <xs:documentation xml:lang="en">The 3x3 rotational inertia matrix. Because the rotational inertia matrix is symmetric, only 6 above-diagonal elements of this matrix are specified here, using the attributes ixx, ixy, ixz, iyy, iyz, izz.</xs:documentation>
                </xs:annotation>
                <xs:all>
                  <xs:element name="ixx" minOccurs="1" maxOccurs="1" default="1.0" type="xs:double"/>
                  <xs:element name="ixy" minOccurs="1" maxOccurs="1" default="0.0" type="xs:double"/>
                  <xs:element name="ixz" minOccurs="1" maxOccurs="1" default="0.0" type="xs:double"/>
                  <xs:element name="iyy" minOccurs="1" maxOccurs="1" default="1.0" type="xs:double"/>
                  <xs:element name="iyz" minOccurs="1" maxOccurs="1" default="0.0" type="xs:double"/>
                  <xs:element name="izz" minOccurs="1" maxOccurs="1" default="1.0" type="xs:double"/>
                </xs:all>
              </xs:complexType>
            </xs:element>
            <xs:element name="frame" minOccurs="0" maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation xml:lang="en">A frame of reference to which a pose is relative.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:annotation>
                  <xs:documentation xml:lang="en">A frame of reference to which a pose is relative.</xs:documentation>
                </xs:annotation>
                <xs:all>
                  <xs:element name="pose" minOccurs="1" maxOccurs="1" default="0 0 0 0 0 0">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">A position(x,y,z) and orientation(roll, pitch yaw) with respect to the specified frame.</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:simpleContent>
                        <xs:extension base="types:pose">
                          <xs:attribute name="frame" type="xs:string" use="optional">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">Name of frame which the pose is defined relative to.</xs:documentation>
                            </xs:annotation>
                          </xs:attribute>
                        </xs:extension>
                      </xs:simpleContent>
                    </xs:complexType>
                  </xs:element>
                </xs:all>
                <xs:attribute name="name" type="xs:string" use="required">
                  <xs:annotation>
                    <xs:documentation xml:lang="en">Name of the frame. This name must not match another frame defined inside the parent that this frame is attached to.</xs:documentation>
                  </xs:annotation>
                </xs:attribute>
              </xs:complexType>
            </xs:element>
            <xs:element name="pose" minOccurs="1" maxOccurs="1" default="0 0 0 0 0 0">
              <xs:annotation>
                <xs:documentation xml:lang="en">This is the pose of the inertial reference frame, relative to the specified reference frame. The origin of the inertial reference frame needs to be at the center of gravity. The axes of the inertial reference frame do not need to be aligned with the principal axes of the inertia.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="types:pose">
                    <xs:attribute name="frame" type="xs:string" use="optional">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Name of frame which the pose is defined relative to.</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
          </xs:all>
        </xs:complexType>
      </xs:element>
      <xs:element name="collision" minOccurs="0" maxOccurs="unbounded" type="collision:collision">
        <xs:annotation>
          <xs:documentation xml:lang="en">The collision properties of a link. Note that this can be different from the visual properties of a link, for example, simpler collision models are often used to reduce computation time.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="visual" minOccurs="0" maxOccurs="unbounded" type="visual:visual">
        <xs:annotation>
          <xs:documentation xml:lang="en">The visual properties of the link. This element specifies the shape of the object (box, cylinder, etc.) for visualization purposes.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="sensor" minOccurs="0" maxOccurs="unbounded" type="sensor:sensor">
        <xs:annotation>
          <xs:documentation xml:lang="en">The sensor tag describes the type and properties of a sensor.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="projector" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:all>
            <xs:element name="texture" minOccurs="1" maxOccurs="1" default="__default__" type="xs:string">
              <xs:annotation>
                <xs:documentation xml:lang="en">Texture name</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="fov" minOccurs="1" maxOccurs="1" default="0.785" type="xs:double">
              <xs:annotation>
                <xs:documentation xml:lang="en">Field of view</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="near_clip" minOccurs="1" maxOccurs="1" default="0.1" type="xs:double">
              <xs:annotation>
                <xs:documentation xml:lang="en">Near clip distance</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="far_clip" minOccurs="1" maxOccurs="1" default="10.0" type="xs:double">
              <xs:annotation>
                <xs:documentation xml:lang="en">far clip distance</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="frame" minOccurs="0" maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation xml:lang="en">A frame of reference to which a pose is relative.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:annotation>
                  <xs:documentation xml:lang="en">A frame of reference to which a pose is relative.</xs:documentation>
                </xs:annotation>
                <xs:all>
                  <xs:element name="pose" minOccurs="1" maxOccurs="1" default="0 0 0 0 0 0">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">A position(x,y,z) and orientation(roll, pitch yaw) with respect to the specified frame.</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:simpleContent>
                        <xs:extension base="types:pose">
                          <xs:attribute name="frame" type="xs:string" use="optional">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">Name of frame which the pose is defined relative to.</xs:documentation>
                            </xs:annotation>
                          </xs:attribute>
                        </xs:extension>
                      </xs:simpleContent>
                    </xs:complexType>
                  </xs:element>
                </xs:all>
                <xs:attribute name="name" type="xs:string" use="required">
                  <xs:annotation>
                    <xs:documentation xml:lang="en">Name of the frame. This name must not match another frame defined inside the parent that this frame is attached to.</xs:documentation>
                  </xs:annotation>
                </xs:attribute>
              </xs:complexType>
            </xs:element>
            <xs:element name="pose" minOccurs="1" maxOccurs="1" default="0 0 0 0 0 0">
              <xs:annotation>
                <xs:documentation xml:lang="en">A position(x,y,z) and orientation(roll, pitch yaw) with respect to the specified frame.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="types:pose">
                    <xs:attribute name="frame" type="xs:string" use="optional">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Name of frame which the pose is defined relative to.</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
            <xs:element name="plugin" minOccurs="0" maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation xml:lang="en">A plugin is a dynamically loaded chunk of code. It can exist as a child of world, model, and sensor.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:annotation>
                  <xs:documentation xml:lang="en">A plugin is a dynamically loaded chunk of code. It can exist as a child of world, model, and sensor.</xs:documentation>
                </xs:annotation>
                <xs:all>
                  <xs:any processContents="skip" minOccurs="0" maxOccurs="unbounded">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">This is a special element that should not be specified in an SDFormat file. It automatically copies child elements into the SDFormat element so that a plugin can access the data.</xs:documentation>
                    </xs:annotation>
                  </xs:any>
                </xs:all>
                <xs:attribute name="name" type="xs:string" use="required">
                  <xs:annotation>
                    <xs:documentation xml:lang="en">A unique name for the plugin, scoped to its parent.</xs:documentation>
                  </xs:annotation>
                </xs:attribute>
                <xs:attribute name="filename" type="xs:string" use="required">
                  <xs:annotation>
                    <xs:documentation xml:lang="en">Name of the shared library to load. If the filename is not a full path name, the file will be searched for in the configuration paths.</xs:documentation>
                  </xs:annotation>
                </xs:attribute>
              </xs:complexType>
            </xs:element>
          </xs:all>
          <xs:attribute name="name" type="xs:string" use="required">
            <xs:annotation>
              <xs:documentation xml:lang="en">Name of the projector</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="audio_sink" minOccurs="0" maxOccurs="unbounded" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="en">An audio sink.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="audio_source" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation xml:lang="en">An audio source.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:annotation>
            <xs:documentation xml:lang="en">An audio source.</xs:documentation>
          </xs:annotation>
          <xs:all>
            <xs:element name="uri" minOccurs="1" maxOccurs="1" default="__default__" type="xs:string">
              <xs:annotation>
                <xs:documentation xml:lang="en">URI of the audio media.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="pitch" minOccurs="1" maxOccurs="1" default="1.0" type="xs:double">
              <xs:annotation>
                <xs:documentation xml:lang="en">Pitch for the audio media, in Hz</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="gain" minOccurs="1" maxOccurs="1" default="1.0" type="xs:double">
              <xs:annotation>
                <xs:documentation xml:lang="en">Gain for the audio media, in dB.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="contact" minOccurs="0" maxOccurs="1">
              <xs:annotation>
                <xs:documentation xml:lang="en">List of collision objects that will trigger audio playback.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:annotation>
                  <xs:documentation xml:lang="en">List of collision objects that will trigger audio playback.</xs:documentation>
                </xs:annotation>
                <xs:all>
                  <xs:element name="collision" minOccurs="1" maxOccurs="unbounded" default="__default__" type="xs:string">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">Name of child collision element that will trigger audio playback.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:all>
              </xs:complexType>
            </xs:element>
            <xs:element name="loop" minOccurs="1" maxOccurs="1" default="false" type="xs:boolean">
              <xs:annotation>
                <xs:documentation xml:lang="en">True to make the audio source loop playback.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="frame" minOccurs="0" maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation xml:lang="en">A frame of reference to which a pose is relative.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:annotation>
                  <xs:documentation xml:lang="en">A frame of reference to which a pose is relative.</xs:documentation>
                </xs:annotation>
                <xs:all>
                  <xs:element name="pose" minOccurs="1" maxOccurs="1" default="0 0 0 0 0 0">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">A position(x,y,z) and orientation(roll, pitch yaw) with respect to the specified frame.</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:simpleContent>
                        <xs:extension base="types:pose">
                          <xs:attribute name="frame" type="xs:string" use="optional">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">Name of frame which the pose is defined relative to.</xs:documentation>
                            </xs:annotation>
                          </xs:attribute>
                        </xs:extension>
                      </xs:simpleContent>
                    </xs:complexType>
                  </xs:element>
                </xs:all>
                <xs:attribute name="name" type="xs:string" use="required">
                  <xs:annotation>
                    <xs:documentation xml:lang="en">Name of the frame. This name must not match another frame defined inside the parent that this frame is attached to.</xs:documentation>
                  </xs:annotation>
                </xs:attribute>
              </xs:complexType>
            </xs:element>
            <xs:element name="pose" minOccurs="1" maxOccurs="1" default="0 0 0 0 0 0">
              <xs:annotation>
                <xs:documentation xml:lang="en">A position(x,y,z) and orientation(roll, pitch yaw) with respect to the specified frame.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="types:pose">
                    <xs:attribute name="frame" type="xs:string" use="optional">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Name of frame which the pose is defined relative to.</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
          </xs:all>
        </xs:complexType>
      </xs:element>
      <xs:element name="battery" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation xml:lang="en">Description of a battery.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:annotation>
            <xs:documentation xml:lang="en">Description of a battery.</xs:documentation>
          </xs:annotation>
          <xs:all>
            <xs:element name="voltage" minOccurs="1" maxOccurs="1" default="0.0" type="xs:double">
              <xs:annotation>
                <xs:documentation xml:lang="en">Initial voltage in volts.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:all>
          <xs:attribute name="name" type="xs:string" use="required">
            <xs:annotation>
              <xs:documentation xml:lang="en">Unique name for the battery.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
    </xs:all>
    <xs:attribute name="name" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">A unique name for the link within the scope of the model.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
</xs:schema>
