skbot/ignition/sdformat/schema/1.6/collision.xsd

<xs:schema xmlns:types="sdformat/v1.6/types.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:geometry="sdformat/v1.6/geometry.xsd" targetNamespace="sdformat/v1.6/collision.xsd" version="1.1">
  <xs:import namespace="sdformat/v1.6/geometry.xsd" schemaLocation="./geometry.xsd"/>
  <xs:import namespace="sdformat/v1.6/types.xsd" schemaLocation="./types.xsd"/>
  <xs:complexType name="collision">
    <xs:annotation>
      <xs:documentation xml:lang="en">The collision properties of a link. Note that this can be different from the visual properties of a link, for example, simpler collision models are often used to reduce computation time.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="laser_retro" minOccurs="1" maxOccurs="1" default="0" type="xs:double">
        <xs:annotation>
          <xs:documentation xml:lang="en">intensity value returned by laser sensor.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="max_contacts" minOccurs="1" maxOccurs="1" default="10" type="xs:int">
        <xs:annotation>
          <xs:documentation xml:lang="en">Maximum number of contacts allowed between two entities. This value overrides the max_contacts element defined in physics.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="frame" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation xml:lang="en">A frame of reference to which a pose is relative.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:annotation>
            <xs:documentation xml:lang="en">A frame of reference to which a pose is relative.</xs:documentation>
          </xs:annotation>
          <xs:all>
            <xs:element name="pose" minOccurs="1" maxOccurs="1" default="0 0 0 0 0 0">
              <xs:annotation>
                <xs:documentation xml:lang="en">A position(x,y,z) and orientation(roll, pitch yaw) with respect to the specified frame.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="types:pose">
                    <xs:attribute name="frame" type="xs:string" use="optional">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Name of frame which the pose is defined relative to.</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
          </xs:all>
          <xs:attribute name="name" type="xs:string" use="required">
            <xs:annotation>
              <xs:documentation xml:lang="en">Name of the frame. This name must not match another frame defined inside the parent that this frame is attached to.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="pose" minOccurs="1" maxOccurs="1" default="0 0 0 0 0 0">
        <xs:annotation>
          <xs:documentation xml:lang="en">A position(x,y,z) and orientation(roll, pitch yaw) with respect to the specified frame.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="types:pose">
              <xs:attribute name="frame" type="xs:string" use="optional">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Name of frame which the pose is defined relative to.</xs:documentation>
                </xs:annotation>
              </xs:attribute>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="geometry" minOccurs="1" maxOccurs="1" type="geometry:geometry">
        <xs:annotation>
          <xs:documentation xml:lang="en">The shape of the visual or collision object.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="surface" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">The surface parameters</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:annotation>
            <xs:documentation xml:lang="en">The surface parameters</xs:documentation>
          </xs:annotation>
          <xs:all>
            <xs:element name="bounce" minOccurs="0" maxOccurs="1">
              <xs:complexType>
                <xs:all>
                  <xs:element name="restitution_coefficient" minOccurs="1" maxOccurs="1" default="0" type="xs:double">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">Bounciness coefficient of restitution, from [0...1], where 0=no bounciness.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="threshold" minOccurs="1" maxOccurs="1" default="100000" type="xs:double">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">Bounce capture velocity, below which effective coefficient of restitution is 0.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:all>
              </xs:complexType>
            </xs:element>
            <xs:element name="friction" minOccurs="0" maxOccurs="1">
              <xs:complexType>
                <xs:all>
                  <xs:element name="torsional" minOccurs="0" maxOccurs="1">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">Parameters for torsional friction</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Parameters for torsional friction</xs:documentation>
                      </xs:annotation>
                      <xs:all>
                        <xs:element name="coefficient" minOccurs="1" maxOccurs="1" default="1.0" type="xs:double">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Torsional friction coefficient, unitless maximum ratio of           tangential stress to normal stress.</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                        <xs:element name="use_patch_radius" minOccurs="1" maxOccurs="1" default="true" type="xs:boolean">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">If this flag is true,           torsional friction is calculated using the "patch_radius" parameter.           If this flag is set to false,           "surface_radius" (R) and contact depth (d)           are used to compute the patch radius as sqrt(R*d).</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                        <xs:element name="patch_radius" minOccurs="1" maxOccurs="1" default="0" type="xs:double">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Radius of contact patch surface.</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                        <xs:element name="surface_radius" minOccurs="1" maxOccurs="1" default="0.0" type="xs:double">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Surface radius on the point of contact.</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                        <xs:element name="ode" minOccurs="0" maxOccurs="1">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Torsional friction parameters for ODE</xs:documentation>
                          </xs:annotation>
                          <xs:complexType>
                            <xs:annotation>
                              <xs:documentation xml:lang="en">Torsional friction parameters for ODE</xs:documentation>
                            </xs:annotation>
                            <xs:all>
                              <xs:element name="slip" minOccurs="1" maxOccurs="1" default="0.0" type="xs:double">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Force dependent slip for torsional friction,             equivalent to inverse of viscous damping coefficient             with units of rad/s/(Nm).             A slip value of 0 is infinitely viscous.</xs:documentation>
                                </xs:annotation>
                              </xs:element>
                            </xs:all>
                          </xs:complexType>
                        </xs:element>
                      </xs:all>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="ode" minOccurs="0" maxOccurs="1">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">ODE friction parameters</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:annotation>
                        <xs:documentation xml:lang="en">ODE friction parameters</xs:documentation>
                      </xs:annotation>
                      <xs:all>
                        <xs:element name="mu" minOccurs="1" maxOccurs="1" default="1" type="xs:double">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Coefficient of friction in first friction pyramid direction,           the unitless maximum ratio of force in first friction pyramid           direction to normal force.</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                        <xs:element name="mu2" minOccurs="1" maxOccurs="1" default="1" type="xs:double">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Coefficient of friction in second friction pyramid direction,           the unitless maximum ratio of force in second friction pyramid           direction to normal force.</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                        <xs:element name="fdir1" minOccurs="1" maxOccurs="1" default="0 0 0" type="types:vector3">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Unit vector specifying first friction pyramid direction in           collision-fixed reference frame.           If the friction pyramid model is in use,           and this value is set to a unit vector for one of the           colliding surfaces,           the ODE Collide callback function will align the friction pyramid directions           with a reference frame fixed to that collision surface.           If both surfaces have this value set to a vector of zeros,           the friction pyramid directions will be aligned with the world frame.           If this value is set for both surfaces, the behavior is undefined.</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                        <xs:element name="slip1" minOccurs="1" maxOccurs="1" default="0.0" type="xs:double">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Force dependent slip in first friction pyramid direction,           equivalent to inverse of viscous damping coefficient           with units of m/s/N.           A slip value of 0 is infinitely viscous.</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                        <xs:element name="slip2" minOccurs="1" maxOccurs="1" default="0.0" type="xs:double">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Force dependent slip in second friction pyramid direction,           equivalent to inverse of viscous damping coefficient           with units of m/s/N.           A slip value of 0 is infinitely viscous.</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                      </xs:all>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="bullet" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                      <xs:all>
                        <xs:element name="friction" minOccurs="1" maxOccurs="1" default="1" type="xs:double">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Coefficient of friction in first friction pyramid direction,           the unitless maximum ratio of force in first friction pyramid           direction to normal force.</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                        <xs:element name="friction2" minOccurs="1" maxOccurs="1" default="1" type="xs:double">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Coefficient of friction in second friction pyramid direction,           the unitless maximum ratio of force in second friction pyramid           direction to normal force.</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                        <xs:element name="fdir1" minOccurs="1" maxOccurs="1" default="0 0 0" type="types:vector3">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Unit vector specifying first friction pyramid direction in           collision-fixed reference frame.           If the friction pyramid model is in use,           and this value is set to a unit vector for one of the           colliding surfaces,           the friction pyramid directions will be aligned           with a reference frame fixed to that collision surface.           If both surfaces have this value set to a vector of zeros,           the friction pyramid directions will be aligned with the world frame.           If this value is set for both surfaces, the behavior is undefined.</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                        <xs:element name="rolling_friction" minOccurs="1" maxOccurs="1" default="1" type="xs:double">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Coefficient of rolling friction</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                      </xs:all>
                    </xs:complexType>
                  </xs:element>
                </xs:all>
              </xs:complexType>
            </xs:element>
            <xs:element name="contact" minOccurs="0" maxOccurs="1">
              <xs:complexType>
                <xs:all>
                  <xs:element name="collide_without_contact" minOccurs="1" maxOccurs="1" default="false" type="xs:boolean">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">Flag to disable contact force generation, while still allowing collision checks and contact visualization to occur.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="collide_without_contact_bitmask" minOccurs="1" maxOccurs="1" default="1" type="xs:unsignedInt">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">Bitmask for collision filtering when collide_without_contact is on</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="collide_bitmask" minOccurs="1" maxOccurs="1" default="65535" type="xs:unsignedInt">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">Bitmask for collision filtering. This will override collide_without_contact. Parsed as 16-bit unsigned integer.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="category_bitmask" minOccurs="1" maxOccurs="1" default="65535" type="xs:unsignedInt">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">Bitmask for category of collision filtering. Collision happens if ((category1 &amp; collision2) | (category2 &amp; collision1)) is not zero. If not specified, the category_bitmask should be interpreted as being the same as collide_bitmask. Parsed as 16-bit unsigned integer.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="poissons_ratio" minOccurs="1" maxOccurs="1" default="0.3" type="xs:double">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">Poisson's ratio is the unitless ratio between transverse and axial strain.         This value must lie between (-1, 0.5).  Defaults to 0.3 for typical steel.         Note typical silicone elastomers have Poisson's ratio near 0.49 ~ 0.50.          For reference, approximate values for Material:(Young's Modulus, Poisson's Ratio)         for some of the typical materials are:           Plastic:  (1e8 ~ 3e9 Pa,  0.35 ~ 0.41),           Wood:     (4e9 ~ 1e10 Pa, 0.22 ~ 0.50),           Aluminum: (7e10 Pa,       0.32 ~ 0.35),           Steel:    (2e11 Pa,       0.26 ~ 0.31).</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="elastic_modulus" minOccurs="1" maxOccurs="1" default="-1" type="xs:double">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">Young's Modulus in SI derived unit Pascal.         Defaults to -1.  If value is less or equal to zero,         contact using elastic modulus (with Poisson's Ratio) is disabled.          For reference, approximate values for Material:(Young's Modulus, Poisson's Ratio)         for some of the typical materials are:           Plastic:  (1e8 ~ 3e9 Pa,  0.35 ~ 0.41),           Wood:     (4e9 ~ 1e10 Pa, 0.22 ~ 0.50),           Aluminum: (7e10 Pa,       0.32 ~ 0.35),           Steel:    (2e11 Pa,       0.26 ~ 0.31).</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="ode" minOccurs="0" maxOccurs="1">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">ODE contact parameters</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:annotation>
                        <xs:documentation xml:lang="en">ODE contact parameters</xs:documentation>
                      </xs:annotation>
                      <xs:all>
                        <xs:element name="soft_cfm" minOccurs="1" maxOccurs="1" default="0" type="xs:double">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Soft constraint force mixing.</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                        <xs:element name="soft_erp" minOccurs="1" maxOccurs="1" default="0.2" type="xs:double">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Soft error reduction parameter</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                        <xs:element name="kp" minOccurs="1" maxOccurs="1" default="1000000000000.0" type="xs:double">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">dynamically "stiffness"-equivalent coefficient for contact joints</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                        <xs:element name="kd" minOccurs="1" maxOccurs="1" default="1.0" type="xs:double">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">dynamically "damping"-equivalent coefficient for contact joints</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                        <xs:element name="max_vel" minOccurs="1" maxOccurs="1" default="0.01" type="xs:double">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">maximum contact correction velocity truncation term.</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                        <xs:element name="min_depth" minOccurs="1" maxOccurs="1" default="0" type="xs:double">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">minimum allowable depth before contact correction impulse is applied</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                      </xs:all>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="bullet" minOccurs="0" maxOccurs="1">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">Bullet contact parameters</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Bullet contact parameters</xs:documentation>
                      </xs:annotation>
                      <xs:all>
                        <xs:element name="soft_cfm" minOccurs="1" maxOccurs="1" default="0" type="xs:double">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Soft constraint force mixing.</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                        <xs:element name="soft_erp" minOccurs="1" maxOccurs="1" default="0.2" type="xs:double">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Soft error reduction parameter</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                        <xs:element name="kp" minOccurs="1" maxOccurs="1" default="1000000000000.0" type="xs:double">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">dynamically "stiffness"-equivalent coefficient for contact joints</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                        <xs:element name="kd" minOccurs="1" maxOccurs="1" default="1.0" type="xs:double">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">dynamically "damping"-equivalent coefficient for contact joints</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                        <xs:element name="split_impulse" minOccurs="1" maxOccurs="1" default="true" type="xs:boolean">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Similar to ODE's max_vel implementation.  See http://bulletphysics.org/mediawiki-1.5.8/index.php/BtContactSolverInfo#Split_Impulse for more information.</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                        <xs:element name="split_impulse_penetration_threshold" minOccurs="1" maxOccurs="1" default="-0.01" type="xs:double">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Similar to ODE's max_vel implementation.  See http://bulletphysics.org/mediawiki-1.5.8/index.php/BtContactSolverInfo#Split_Impulse for more information.</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                      </xs:all>
                    </xs:complexType>
                  </xs:element>
                </xs:all>
              </xs:complexType>
            </xs:element>
            <xs:element name="soft_contact" minOccurs="0" maxOccurs="1">
              <xs:complexType>
                <xs:all>
                  <xs:element name="dart" minOccurs="0" maxOccurs="1">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">soft contact pamameters based on paper:              http://www.cc.gatech.edu/graphics/projects/Sumit/homepage/papers/sigasia11/jain_softcontacts_siga11.pdf</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:annotation>
                        <xs:documentation xml:lang="en">soft contact pamameters based on paper:              http://www.cc.gatech.edu/graphics/projects/Sumit/homepage/papers/sigasia11/jain_softcontacts_siga11.pdf</xs:documentation>
                      </xs:annotation>
                      <xs:all>
                        <xs:element name="bone_attachment" minOccurs="1" maxOccurs="1" default="100.0" type="xs:double">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">This is variable k_v in the soft contacts paper.  Its unit is N/m.</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                        <xs:element name="stiffness" minOccurs="1" maxOccurs="1" default="100.0" type="xs:double">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">This is variable k_e in the soft contacts paper.  Its unit is N/m.</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                        <xs:element name="damping" minOccurs="1" maxOccurs="1" default="10.0" type="xs:double">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Viscous damping of point velocity in body frame.  Its unit is N/m/s.</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                        <xs:element name="flesh_mass_fraction" minOccurs="1" maxOccurs="1" default="0.05" type="xs:double">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Fraction of mass to be distributed among deformable nodes.</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                      </xs:all>
                    </xs:complexType>
                  </xs:element>
                </xs:all>
              </xs:complexType>
            </xs:element>
          </xs:all>
        </xs:complexType>
      </xs:element>
    </xs:all>
    <xs:attribute name="name" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">Unique name for the collision element within the scope of the parent link.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
</xs:schema>
