skbot/ignition/sdformat/schema/1.6/physics.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="sdformat/v1.6/physics.xsd" version="1.1">
  <xs:complexType name="physics">
    <xs:annotation>
      <xs:documentation xml:lang="en">The physics tag specifies the type and properties of the dynamics engine.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="max_step_size" minOccurs="1" maxOccurs="1" default="0.001" type="xs:double">
        <xs:annotation>
          <xs:documentation xml:lang="en">Maximum time step size at which every system in simulation can interact with the states of the world.  (was physics.sdf's dt).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="real_time_factor" minOccurs="1" maxOccurs="1" default="1.0" type="xs:double">
        <xs:annotation>
          <xs:documentation xml:lang="en">target simulation speedup factor, defined by ratio of simulation time to real-time.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="real_time_update_rate" minOccurs="1" maxOccurs="1" default="1000" type="xs:double">
        <xs:annotation>
          <xs:documentation xml:lang="en">Rate at which to update the physics engine (UpdatePhysics calls per real-time second). (was physics.sdf's update_rate).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="max_contacts" minOccurs="1" maxOccurs="1" default="20" type="xs:int">
        <xs:annotation>
          <xs:documentation xml:lang="en">Maximum number of contacts allowed between two entities. This value can be over ridden by a max_contacts element in a collision element.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dart" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">DART specific physics properties</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:annotation>
            <xs:documentation xml:lang="en">DART specific physics properties</xs:documentation>
          </xs:annotation>
          <xs:all>
            <xs:element name="solver" minOccurs="1" maxOccurs="1">
              <xs:complexType>
                <xs:all>
                  <xs:element name="solver_type" minOccurs="1" maxOccurs="1" default="dantzig" type="xs:string">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">One of the following types: pgs, dantzig. PGS stands for Projected Gauss-Seidel.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:all>
              </xs:complexType>
            </xs:element>
            <xs:element name="collision_detector" minOccurs="1" maxOccurs="1" default="fcl" type="xs:string">
              <xs:annotation>
                <xs:documentation xml:lang="en">Specify collision detector for DART to use. Can be dart, fcl, bullet or ode.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:all>
        </xs:complexType>
      </xs:element>
      <xs:element name="simbody" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Simbody specific physics properties</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:annotation>
            <xs:documentation xml:lang="en">Simbody specific physics properties</xs:documentation>
          </xs:annotation>
          <xs:all>
            <xs:element name="min_step_size" minOccurs="1" maxOccurs="1" default="0.0001" type="xs:double">
              <xs:annotation>
                <xs:documentation xml:lang="en">(Currently not used in simbody) The time duration which advances with each iteration of the dynamics engine, this has to be no bigger than max_step_size under physics block.  If left unspecified, min_step_size defaults to max_step_size.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="accuracy" minOccurs="1" maxOccurs="1" default="1e-3" type="xs:double">
              <xs:annotation>
                <xs:documentation xml:lang="en">Roughly the relative error of the system.         -LOG(accuracy) is roughly the number of significant digits.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="max_transient_velocity" minOccurs="1" maxOccurs="1" default="0.01" type="xs:double">
              <xs:annotation>
                <xs:documentation xml:lang="en">Tolerable "slip" velocity allowed by the solver when static         friction is supposed to hold object in place.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="contact" minOccurs="0" maxOccurs="1">
              <xs:annotation>
                <xs:documentation xml:lang="en">Relationship among dissipation, coef. restitution, etc.         d = dissipation coefficient (1/velocity)         vc = capture velocity (velocity where e=e_max)         vp = plastic velocity (smallest v where e=e_min) &amp;gt; vc         Assume real COR=1 when v=0.         e_min = given minimum COR, at v &amp;gt;= vp (a.k.a. plastic_coef_restitution)         d = slope = (1-e_min)/vp         OR, e_min = 1 - d*vp         e_max = maximum COR = 1-d*vc, reached at v=vc         e = 0,                       v &amp;lt;= vc           = 1 - d*v,               vc &amp;lt; v &amp;lt; vp           = e_min,                   v &amp;gt;= vp          dissipation factor = d*min(v,vp)   [compliant]         cor = e                            [rigid]          Combining rule e = 0,               e1==e2==0                          = 2*e1*e2/(e1+e2), otherwise</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:annotation>
                  <xs:documentation xml:lang="en">Relationship among dissipation, coef. restitution, etc.         d = dissipation coefficient (1/velocity)         vc = capture velocity (velocity where e=e_max)         vp = plastic velocity (smallest v where e=e_min) &amp;gt; vc         Assume real COR=1 when v=0.         e_min = given minimum COR, at v &amp;gt;= vp (a.k.a. plastic_coef_restitution)         d = slope = (1-e_min)/vp         OR, e_min = 1 - d*vp         e_max = maximum COR = 1-d*vc, reached at v=vc         e = 0,                       v &amp;lt;= vc           = 1 - d*v,               vc &amp;lt; v &amp;lt; vp           = e_min,                   v &amp;gt;= vp          dissipation factor = d*min(v,vp)   [compliant]         cor = e                            [rigid]          Combining rule e = 0,               e1==e2==0                          = 2*e1*e2/(e1+e2), otherwise</xs:documentation>
                </xs:annotation>
                <xs:all>
                  <xs:element name="stiffness" minOccurs="1" maxOccurs="1" default="1e8" type="xs:double">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">Default contact material stiffness                      (force/dist or torque/radian).</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="dissipation" minOccurs="1" maxOccurs="1" default="100" type="xs:double">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">dissipation coefficient to be used in compliant contact;     if not given it is (1-min_cor)/plastic_impact_velocity</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="plastic_coef_restitution" minOccurs="1" maxOccurs="1" default="0.5" type="xs:double">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">this is the COR to be used at high velocities for rigid     impacts; if not given it is 1 - dissipation*plastic_impact_velocity</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="plastic_impact_velocity" minOccurs="1" maxOccurs="1" default="0.5" type="xs:double">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">smallest impact velocity at which min COR is reached; set       to zero if you want the min COR always to be used</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="static_friction" minOccurs="1" maxOccurs="1" default="0.9" type="xs:double">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">static friction (mu_s) as described by this plot: http://gazebosim.org/wiki/File:Stribeck_friction.png</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="dynamic_friction" minOccurs="1" maxOccurs="1" default="0.9" type="xs:double">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">dynamic friction (mu_d) as described by this plot: http://gazebosim.org/wiki/File:Stribeck_friction.png</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="viscous_friction" minOccurs="1" maxOccurs="1" default="0.0" type="xs:double">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">viscous friction (mu_v) with units of (1/velocity) as described by this plot: http://gazebosim.org/wiki/File:Stribeck_friction.png</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="override_impact_capture_velocity" minOccurs="1" maxOccurs="1" default="0.001" type="xs:double">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">for rigid impacts only, impact velocity at which           COR is set to zero; normally inherited from global default but can           be overridden here. Combining rule: use larger velocity</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="override_stiction_transition_velocity" minOccurs="1" maxOccurs="1" default="0.001" type="xs:double">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">This is the largest slip velocity at which            we'll consider a transition to stiction. Normally inherited            from a global default setting. For a continuous friction model            this is the velocity at which the max static friction force            is reached.  Combining rule: use larger velocity</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:all>
              </xs:complexType>
            </xs:element>
          </xs:all>
        </xs:complexType>
      </xs:element>
      <xs:element name="bullet" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Bullet specific physics properties</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:annotation>
            <xs:documentation xml:lang="en">Bullet specific physics properties</xs:documentation>
          </xs:annotation>
          <xs:all>
            <xs:element name="solver" minOccurs="1" maxOccurs="1">
              <xs:complexType>
                <xs:all>
                  <xs:element name="type" minOccurs="1" maxOccurs="1" default="sequential_impulse" type="xs:string">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">One of the following types: sequential_impulse only.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="min_step_size" minOccurs="1" maxOccurs="1" default="0.0001" type="xs:double">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">The time duration which advances with each iteration of the dynamics engine, this has to be no bigger than max_step_size under physics block.  If left unspecified, min_step_size defaults to max_step_size.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="iters" minOccurs="1" maxOccurs="1" default="50" type="xs:int">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">Number of iterations for each step. A higher number produces greater accuracy at a performance cost.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="sor" minOccurs="1" maxOccurs="1" default="1.3" type="xs:double">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">Set the successive over-relaxation parameter.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:all>
              </xs:complexType>
            </xs:element>
            <xs:element name="constraints" minOccurs="1" maxOccurs="1">
              <xs:annotation>
                <xs:documentation xml:lang="en">Bullet constraint parameters.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:annotation>
                  <xs:documentation xml:lang="en">Bullet constraint parameters.</xs:documentation>
                </xs:annotation>
                <xs:all>
                  <xs:element name="cfm" minOccurs="1" maxOccurs="1" default="0" type="xs:double">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">Constraint force mixing parameter. See the ODE page for more information.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="erp" minOccurs="1" maxOccurs="1" default="0.2" type="xs:double">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">Error reduction parameter. See the ODE page for more information.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="contact_surface_layer" minOccurs="1" maxOccurs="1" default="0.001" type="xs:double">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">The depth of the surface layer around all geometry objects. Contacts are allowed to sink into the surface layer up to the given depth before coming to rest. The default value is zero. Increasing this to some small value (e.g. 0.001) can help prevent jittering problems due to contacts being repeatedly made and broken.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="split_impulse" minOccurs="1" maxOccurs="1" default="true" type="xs:boolean">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">Similar to ODE's max_vel implementation. See http://web.archive.org/web/20120430155635/http://bulletphysics.org/mediawiki-1.5.8/index.php/BtContactSolverInfo#Split_Impulse for more information.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="split_impulse_penetration_threshold" minOccurs="1" maxOccurs="1" default="-0.01" type="xs:double">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">Similar to ODE's max_vel implementation.  See http://web.archive.org/web/20120430155635/http://bulletphysics.org/mediawiki-1.5.8/index.php/BtContactSolverInfo#Split_Impulse for more information.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:all>
              </xs:complexType>
            </xs:element>
          </xs:all>
        </xs:complexType>
      </xs:element>
      <xs:element name="ode" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">ODE specific physics properties</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:annotation>
            <xs:documentation xml:lang="en">ODE specific physics properties</xs:documentation>
          </xs:annotation>
          <xs:all>
            <xs:element name="solver" minOccurs="1" maxOccurs="1">
              <xs:complexType>
                <xs:all>
                  <xs:element name="type" minOccurs="1" maxOccurs="1" default="quick" type="xs:string">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">One of the following types: world, quick</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="min_step_size" minOccurs="1" maxOccurs="1" default="0.0001" type="xs:double">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">The time duration which advances with each iteration of the dynamics engine, this has to be no bigger than max_step_size under physics block.  If left unspecified, min_step_size defaults to max_step_size.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="island_threads" minOccurs="1" maxOccurs="1" default="0" type="xs:int">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">Number of threads to use for "islands" of disconnected models.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="iters" minOccurs="1" maxOccurs="1" default="50" type="xs:int">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">Number of iterations for each step. A higher number produces greater accuracy at a performance cost.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="precon_iters" minOccurs="1" maxOccurs="1" default="0" type="xs:int">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">Experimental parameter.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="sor" minOccurs="1" maxOccurs="1" default="1.3" type="xs:double">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">Set the successive over-relaxation parameter.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="thread_position_correction" minOccurs="1" maxOccurs="1" default="false" type="xs:boolean">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">Flag to use threading to speed up position correction computation.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="use_dynamic_moi_rescaling" minOccurs="1" maxOccurs="1" default="false" type="xs:boolean">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">Flag to enable dynamic rescaling of moment of inertia in constrained directions.           See gazebo pull request 1114 for the implementation of this feature.           https://osrf-migration.github.io/gazebo-gh-pages/#!/osrf/gazebo/pull-request/1114</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="friction_model" minOccurs="1" maxOccurs="1" default="pyramid_model" type="xs:string">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">Name of ODE friction model to use. Valid values include:            pyramid_model: (default) friction forces limited in two directions           in proportion to normal force.           box_model: friction forces limited to constant in two directions.           cone_model: friction force magnitude limited in proportion to normal force.            See gazebo pull request 1522 for the implementation of this feature.           https://osrf-migration.github.io/gazebo-gh-pages/#!/osrf/gazebo/pull-request/1522           https://github.com/osrf/gazebo/commit/968dccafdfbfca09c9b3326f855612076fed7e6f</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:all>
              </xs:complexType>
            </xs:element>
            <xs:element name="constraints" minOccurs="1" maxOccurs="1">
              <xs:annotation>
                <xs:documentation xml:lang="en">ODE constraint parameters.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:annotation>
                  <xs:documentation xml:lang="en">ODE constraint parameters.</xs:documentation>
                </xs:annotation>
                <xs:all>
                  <xs:element name="cfm" minOccurs="1" maxOccurs="1" default="0" type="xs:double">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">Constraint force mixing parameter. See the ODE page for more information.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="erp" minOccurs="1" maxOccurs="1" default="0.2" type="xs:double">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">Error reduction parameter. See the ODE page for more information.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="contact_max_correcting_vel" minOccurs="1" maxOccurs="1" default="100.0" type="xs:double">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">The maximum correcting velocities allowed when resolving contacts.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="contact_surface_layer" minOccurs="1" maxOccurs="1" default="0.001" type="xs:double">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">The depth of the surface layer around all geometry objects. Contacts are allowed to sink into the surface layer up to the given depth before coming to rest. The default value is zero. Increasing this to some small value (e.g. 0.001) can help prevent jittering problems due to contacts being repeatedly made and broken.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:all>
              </xs:complexType>
            </xs:element>
          </xs:all>
        </xs:complexType>
      </xs:element>
    </xs:all>
    <xs:attribute name="name" type="xs:string" use="optional" default="default_physics">
      <xs:annotation>
        <xs:documentation xml:lang="en">The name of this set of physics parameters.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="default" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation xml:lang="en">If true, this physics element is set as the default physics profile for the world. If multiple default physics elements exist, the first element marked as default is chosen. If no default physics element exists, the first physics element is chosen.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="type" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">The type of the dynamics engine. Current options are ode, bullet, simbody and dart.  Defaults to ode if left unspecified.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
</xs:schema>
